.active-link {
    color: #0eb002;

}

.link-driver:has(a.active-link) {
    color: #0eb002;

}

.clear {
    float: left;
}

.top-header-notification {
    width: 500px;
    max-height: 400px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
    display: flex;
    flex-direction: column;
    /* background: white;
    border-radius: 25px;
    
    padding: 30px 10px; */
}
.notification-body{
    flex: 1;
    overflow: auto;
}
.notification-badge{
    position: absolute;
    top: -6px;
    right: 11px;
    font-size: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    font-weight: bold;
    margin-top: auto;
}
.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
.btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
}