<div class="row mb-4" *ngIf="isRoleIn == 1">
  <!-- Search Bar -->
  <div class="col-md-4">
    <div class="SearchDivInner">
      <div class="SearchDiv">
        <form class="SearchForm">
          <span class="SearchIcon"
            ><i class="fa fa-search" aria-hidden="true"></i>
            <input
              type="text"
              placeholder="Search by Order"
              class="InPutField"
              disabled
              (keyup)="searchfield($event)"
            />
          </span>
          <button class="ButtonIcon" (click)="searchboxopen()">
            <img src="assets/images/searchicon.png" />
          </button>
        </form>
      </div>
      <!-- Search Box -->
      <form class="SearchContentForm" *ngIf="searchbox">
        <div class="SearchContent">
          <div class="SearchOrder">
            <span class="searchTitle">Search by Order</span>
            <span class="Cross" (click)="searchboxopen()">
              <img src="assets/images/closeimg.png" />
            </span>
          </div>
          <ul class="OrderTracking">
            <li>
              <label
                ><img src="assets/images/search-icon01.png" />
                <input
                  type="text"
                  name=""
                  placeholder="Enter Tracking/Order Number"
                  class="InPutField_S"
              /></label>
            </li>
            <li>
              <span class="searchTitle">Search by Name or Address</span>
              <label
                ><img src="assets/images/search-icon02.png" />
                <input
                  type="text"
                  name=""
                  placeholder="Enter Name"
                  class="InPutField_S"
              /></label>
            </li>
            <li>
              <label
                ><img src="assets/images/search-icon03.png" />
                <input
                  type="text"
                  name=""
                  placeholder="Enter Address"
                  class="InPutField_S"
              /></label>
            </li>
          </ul>
          <div class="SearchButton">

            <button class="ButtonStyle">Search</button>
          </div>
        </div>
      </form>
      <!-- Search Box /////////// -->
    </div>
  </div>
  <!-- Search Bar /////////// -->
  <div class="col-md-8">
    <div class="MyPlan">
      <div class="MyPlanList">
        <ul>
          <li class="BookMark_Title" (click)="bookmarkedfield()">
            <div class="IconImg">
              <img src="assets/images/sper-top-icon01.png" />
              <span class="">Bookmarked</span>
            </div>
            <span class="__Plan GoldPlan">Companies</span>
          </li>
          <li
            class="BookMark_Title"
            *ngFor="let item of plandata; let index = index"
            (click)="planfield(item.id)"
          >
            <div class="IconImg">
              <img *ngIf="!item.img" src="assets/images/sper-top-icon02.png" />
              <img *ngIf="item.img" [src]="item.img" />
              <span class="">{{ item.title }}</span>
            </div>
            <span class="__Plan GoldPlan">{{ item.num_companies }} User</span>
          </li>
          <li class="Tickets_Notification">
            <div class="IconImg">
              <img src="assets/images/top-icon05.png" />
              <span>Tickets</span>
            </div>
            <div class="IconImg">
              <img src="assets/images/top-icon07.png" />
              <span>Notification</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4" *ngIf="isRoleIn == 2">
  <!-- Search Bar -->
  <div class="col-md-4">
    <div class="SearchDivInner">
      <div class="SearchDiv">
        <form class="SearchForm">
          <span class="SearchIcon"
            ><i class="fa fa-search" aria-hidden="true"></i>
            <input
              type="text"
              disabled
              placeholder="Search for Orders"
              class="InPutField"
              value="{{searchText}}"
              (keyup)="searchfield($event)"
            />
          </span>
          <button class="ButtonIcon" (click)="searchboxopen()">
            <img src="assets/images/searchicon.png" />
          </button>
        </form>
      </div>
      <!-- Search Box -->
      <form class="SearchContentForm" [formGroup]="searchForm"
      *ngIf="searchbox">
        <div class="SearchContent">
          <div class="SearchOrder">
            <span class="searchTitle">Search by Order</span>
            <span class="Cross" (click)="searchboxopen()">
              <img src="assets/images/closeimg.png" />
            </span>
          </div>
          <ul class="OrderTracking">
            <li>
              <label
                ><img src="assets/images/search-icon01.png" />{{orderNumber}}
                <input
                  type="text"
                  name=""
                  formControlName="order_number"
                  placeholder="Enter Tracking/Order Number"
                  class="InPutField_S"
              /></label>
            </li>
            <li>
              <span class="searchTitle">Search by Name or Address</span>
              <label
                ><img src="assets/images/search-icon02.png" />
                <input
                  type="text"
                  name=""
                  formControlName="name"
                  placeholder="Enter Name"
                  class="InPutField_S"
              /></label>
            </li>
            <li>
              <label
                ><img src="assets/images/search-icon03.png" />
                <input
                  type="text"
                  name=""
                  formControlName="address"
                  placeholder="Enter Address"
                  class="InPutField_S"
              /></label>
            </li>
          </ul>
          <div class="SearchButton">
            <button class="ButtonStyle clear"  (click)="clearSearch()">Clear</button>
            <button class="ButtonStyle"  (click)="updateSearch()">Search</button>
          </div>
        </div>
      </form>
      <!-- Search Box /////////// -->
    </div>
  </div>
  <!-- Search Bar /////////// -->
  <div class="col-md-8">
    <div class="TabList">
      <ul class="TopMenu">
        <li (click)="onClickTopItem('orders')">
          <a routerLink="/{{ _isRoleName }}/orders/add" routerLinkActive="active-link">
            <img src="assets/images/top-icon01.png" />
            <span>Add Order</span>
          </a>
          <!-- <ul class="SubMenuBar">
            <li>
              <a routerLink="/{{ _isRoleName }}/orders/add">
                <img src="assets/images/top-icon01.png" />
                <span>Add Order</span>
              </a>
            </li>
            <li>
              <a>
                <img src="assets/images/top-icon01.png" />
                <span>Open Pickup</span>
              </a>
            </li>
            <li>
              <a>
                <img src="assets/images/top-icon01.png" />
                <span>Open Deliveries</span>
              </a>
            </li>
          </ul> -->
        </li>
        <li class="link-driver" >
          <a routerLink="/{{ _isRoleName }}/driver/add"  routerLinkActive="active-link">
            <img src="assets/images/top-icon01.png" />
            <span>Add Driver</span>
          </a>
          <!-- <ul class="SubMenuBar">
            <li (click)="onClickTopItem('driver')">
              <a routerLink="/{{ _isRoleName }}/driver/add"  routerLinkActive="active-link">
                <img src="assets/images/top-icon01.png" />
                <span>Add Driver</span>
              </a>
            </li>
            <li (click)="onClickTopItem('driver')">
              <a>
                <img src="assets/images/top-icon01.png" />
                <span>Active Driver</span>
              </a>
            </li>
            <li (click)="onClickTopItem('driver')">
              <a>
                <img src="assets/images/top-icon01.png" />
                <span>Inactive Driver</span>
              </a>
            </li>
          </ul> -->
        </li>
        <li (click)="onClickTopItem('locate')">
          <a routerLink="/{{ _isRoleName }}/driver/locate" routerLinkActive="active-link">
            <img src="assets/images/top-icon03.png" />
            <span>Locate Driver</span>
          </a>
        </li>
        <li>
          <a>
            <img src="assets/images/top-icon04.png" />
            <span>Send Notification</span>
          </a>
        </li>
        <li (click)="onClickTopItem('tickets')">
          <a routerLink="/{{ _isRoleName }}/tickets" routerLinkActive="active-link">
            <img src="assets/images/top-icon05.png" />
            <span>Tickets</span>
          </a>
        </li>
        <li>
          <a>
            <img src="assets/images/top-icon06.png" />
            <span>Help</span>
          </a>
        </li>
        <li class="position-relative cursor-pointer">
          <a (click)="showNotifications()">
            <img src="assets/images/top-icon07.png" />
            <span>Notification</span>
          </a>
          <div *ngIf="isShowNotifications" class="top-header-notification">
            <h2>No Notifications</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="text-right">
              <button class="ButtonStyle" (click)="showNotifications()">Close</button>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
