.active-link {
    color: #0eb002;

}

.link-driver:has(a.active-link) {
    color: #0eb002;

}

.clear {
    float: left;
}
.clear-all-noti{
    padding: 8px;
    text-decoration: underline;
    color: blue;
    text-align: end;
}

.top-header-notification {
    width: 500px;
    max-height: 400px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 11111;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%) !important;
    display: flex;
    flex-direction: column;
    /* background: white;
    border-radius: 25px;
    
    padding: 30px 10px; */
}
.notification-body{
    flex: 1;
    overflow: auto;
}
.notification-badge{
    position: absolute;
    top: -6px;
    right: 11px;
    font-size: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    font-weight: bold;
    margin-top: auto;
}
.dropdown-list-image {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
}
.dropdown-list-image img {
    height: 2.5rem;
    width: 2.5rem;
}
.btn-light {
    color: #2cdd9b;
    background-color: #e5f7f0;
    border-color: #d8f7eb;
}
@media screen and (max-width: 1200px) {
    .top-bar-more{
        display: block !important;
      }
      .top-bar-send-notification, .top-bar-tickets, .top-bar-help{
        display: none !important;
      }
}
@media screen and (max-width: 992px) {
    .top-bar-more{
        display: none !important;
      }
      .top-bar-send-notification, .top-bar-tickets, .top-bar-help{
        display: block !important;
      }
}
@media screen and (max-width: 840px) {
    .top-bar-more,.top-bar-locate{
        display: block !important;
      }
      .top-bar-send-notification, .top-bar-tickets, .top-bar-help{
        display: none !important;
      }
}
@media screen and (max-width: 660px) {
    .top-bar-more{
        display: block !important;
      }
      .top-bar-send-notification, .top-bar-tickets, .top-bar-help,.top-bar-locate{
        display: none !important;
      }
}
  .more-items{
    right: 0;
    cursor: pointer;
  }
  .top-bar-more{
    display: none;
    cursor: pointer;
  }
  @media screen and (max-width: 575px) {
    .topbar-section{
        margin-top: .5rem !important;
    }
} 