<!-- Side Bar -->
<section class="section" style="background: #ebeff2;">
    <div class="container-fluid">
        <div class="row">
            <!-- Side Bar -->
            <div class="col-md-2">
                <app-menu></app-menu>
            </div>
            <!-- Side Bar /////////// -->
            <div class="col-md-10">

                <app-top></app-top>

                <!-- Add Content -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="ContentArea">
                            <div class="row mb-4">
                                <div class="col-md-10">
                                    <div class="HeadingName">
                                        <h2>Plan</h2>
                                    </div>
                                </div>
                                <div class="col-md-2 loginButton">
                                    <a routerLink="/plans/add"><button>+ Add Plan</button></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="ProfileFor">
                                        <div class="row">
                                            <div class="add-company">
                                                <ul>
                                                    <li class="gold">
                                                        <!-- Edit And Delete -->
                                                        <div class="EditIcn">
                                                            <i class="fa fa-ellipsis-v ellipsis"></i>
                                                            <div class="edit-delete">
                                                                <img src="assets/images/closeimg.png">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="fa fa-pencil EditIcon"></i>
                                                                            Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="fa fa-trash Delete"></i>
                                                                            Delete
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- Edit And Delete //////// -->
                                                        <img src="assets/images/sper-top-icon02.png">
                                                        <span class="GoldColor">Gold $150</span>
                                                        <a href="#!" class="KnowMore">
                                                            Know More
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="silver">
                                                        <!-- Edit And Delete -->
                                                        <div class="EditIcn">
                                                            <i class="fa fa-ellipsis-v ellipsis"></i>
                                                            <div class="edit-delete d-none">
                                                                <img src="assets/images/closeimg.png">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="fa fa-pencil EditIcon"></i>
                                                                            Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="fa fa-trash Delete"></i>
                                                                            Delete
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- Edit And Delete //////// -->
                                                        <img src="assets/images/sper-top-icon03.png">
                                                        <span class="GoldColor">Silver $110</span>
                                                        <a href="#!" class="KnowMore">
                                                            Know More
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="bronze">
                                                        <!-- Edit And Delete -->
                                                        <div class="EditIcn">
                                                            <i class="fa fa-ellipsis-v ellipsis"></i>
                                                            <div class="edit-delete d-none">
                                                                <img src="assets/images/closeimg.png">
                                                                <ul>
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="fa fa-pencil EditIcon"></i>
                                                                            Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#!">
                                                                            <i class="fa fa-trash Delete"></i>
                                                                            Delete
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- Edit And Delete //////// -->
                                                        <img src="assets/images/sper-top-icon04.png">
                                                        <span class="GoldColor">Bronze $95</span>
                                                        <a href="#!" class="KnowMore">
                                                            Know More
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="bronze AddPlan">
                                                        <img src="assets/images/add-plan.png">
                                                        <span class="GoldColor">Add Plan</span>
                                                        <a href="#!" class="KnowMore">
                                                            Add your custom plan
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Side Bar /////////////////// -->