<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="Table">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder">Add Driver </span>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-3 width20">
              <div class="ProfilePik">
                <div class="ChangePic">
                  <img src="assets/images/profilephoto.png" />
                  <span class="Edit_Img">
                    <img src="assets/images/edir-img.png" />
                  </span>
                </div>
                <div class="ChangeImg">Change Profile Photo</div>
              </div>
            </div>
            <div class="col-md-8">
              <form class="ProfileFor">
                <div class="row">
                  <!-- Popup Box -->
                  <div class="CardPopup">
                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="Div01">
                          Head Deriver <input type="checkbox" name="" />
                        </div>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="Div01 Div02">
                          Deriver Status: Active <input type="radio" name="" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="First Name"
                            class="Pro_input_Field"
                          />
                        </span>
                      </div>
                      <div class="col-md-6 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Last Name"
                            class="Pro_input_Field"
                          />
                        </span>
                      </div>
                      <div class="col-md-6 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Mobile Number"
                            class="Pro_input_Field"
                          />
                        </span>
                      </div>
                      <div class="col-md-6 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Email"
                            class="Pro_input_Field"
                          />
                        </span>
                      </div>
                      <div class="col-md-12">
                        <span class="Password">
                          <textarea
                            placeholder="Address"
                            class="CompanyField Address"
                          ></textarea>
                        </span>
                      </div>
                      <div class="col-md-12">
                        <ul class="UploadMedia Addmedia">
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>License</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>Abstract</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>Certificate</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>CVOR</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>Safety</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>Insurance</span>
                            </label>
                          </li>
                          <li>
                            <label>
                              <img src="assets/images/edit-icon.png" />
                              <span>Add More</span>
                            </label>
                          </li>
                          <li>
                            <button class="SaveButton ButtonStyle">
                              Add Driver
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Popup Box ///////// -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
