
.driver-name{
    font-weight: bold;
    color: black;
    font-size: 18px;
}
.ChangePic{
    position: relative;
}
.ChangePic span.Edit_Img{
    bottom: 10px;
}
.head-driver{
    font-size: 16px;
    
}
.head-driver[type=checkbox] {
    position: relative;
      cursor: pointer;
}
.head-driver[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
.head-driver[type=checkbox]:checked:before {
    border: 2px solid #0eb002;
    background-color: #0eb002;
}
.head-driver[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 6px;
}
.Pro_input_Field:focus , .Address:focus{
    border: 2px solid #0eb002;
}
.driver-input-field{
    height: 50px;
}

.driver-profile-image-container{
    position: relative;
    height: 180px;
    width: 230px;
    margin: auto;
    border: 1px solid #ccd2d8;
    border-radius: 20px;
    line-height: 180px;

}
.driver-profile-image{
    border-radius: 50%;
}
.Edit_Img{
    position: absolute;
    bottom: -36%;
    right: 5%;
}
.c-width-100{
    max-width: 100%;
    height: 100px;
    width: 100%;
}
.with-img{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px 20px;
    text-align: center;
    width: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
}
ul.UploadMedia{
    justify-content: unset !important;

}
i.Delete{
    position: absolute;
    right: 2%;
    top: 2%;
}
.notes>p{
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
}
.notes li{
    font-style: italic;
    font-size: 14px;
}

.back-to-list{
    margin-left: auto;
}