<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <div class="back-to-list">
        <a routerLink="/admin/driver"><button>Back to List</button></a>
      </div>
      <!-- Table View -->
      <div class="Table">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder" *ngIf="isAddMode"
                >Add Driver</span
              >
              <span class="RecentTitle AddOrder" *ngIf="!isAddMode"
                >Edit Driver</span
              >
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-3">
              <div class="ProfilePik">
                <div class="driver-profile-image-container">
                  <i
                    *ngIf="!(imageSrc.indexOf('profilephoto') > 0)"
                    class="fa fa-trash Delete"
                    (click)="removeProfilePhoto($event)"
                  ></i>
                  <img
                    class="driver-profile-image"
                    *ngIf="imageSrc"
                    [src]="imageSrc"
                    [alt]="'logo'"
                    width="100px"
                    height="100px"
                  />
                  <span (click)="fileInput.click()" class="Edit_Img">
                    <img
                      src="assets/images/edir-img.png"
                      width="30px"
                      height="30px"
                    />
                  </span>
                </div>
                <div class="my-2 driver-name">{{(this.frmValues.first_name | titlecase) +" "+ (this.frmValues.last_name | titlecase)}}</div>
                <div (click)="fileInput.click()" class="ChangeImg">
                  Change Profile Photo
                </div>
              </div>
            </div>
            <div class="col-9">
              <form
                [formGroup]="addDriver"
                class="ProfileFor"
                enctype="multipart/form-data"
              >
                <input
                  #fileInput
                  type="file"
                  (change)="readURL($event)"
                  style="display: none"
                  accept="image/*"
                />
                <div
                  *ngIf="isSubmitted && f['image'].errors"
                  class="text-danger"
                >
                  <div *ngIf="f['image'].errors['required']">
                    Logo is required
                  </div>
                </div>

                <div class="row">
                  <!-- Popup Box -->
                  <div class="CardPopup pt-0">
                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="head-driver">
                          <strong>Head Driver:</strong>
                          <input
                            class="head-driver mx-2"
                            type="checkbox"
                            value="true"
                            formControlName="is_head_driver"
                          />
                        </div>
                      </div>
                      <!-- <div class="col-md-6 text-right">
                        <div class="Div01 Div02">
                          Deriver Status: Active -->
                      <input
                        type="hidden"
                        value="true"
                        formControlName="is_active"
                      />
                      <!-- </div>
                      </div> -->
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <span class="Password">
                          <input
                            type="text"
                            formControlName="first_name"
                            placeholder="First Name"
                            class="Pro_input_Field driver-input-field"
                          />
                          <div
                            *ngIf="isSubmitted && f['first_name'].errors"
                            class="text-danger"
                          >
                            <div *ngIf="f['first_name'].errors['required']">
                              First Name is required
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-md-6 mb-3">
                        <span class="Password">
                          <input
                            type="text"
                            formControlName="last_name"
                            placeholder="Last Name"
                            class="Pro_input_Field driver-input-field"
                          />
                          <div
                            *ngIf="isSubmitted && f['last_name'].errors"
                            class="text-danger"
                          >
                            <div *ngIf="f['last_name'].errors['required']">
                              Last Name is required
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-md-6 mb-3">
                        <span class="Password">
                          <input
                            type="number"
                            formControlName="phone_number"
                            placeholder="Mobile Number"
                            onKeyPress="if(this.value.length==10) return false;"
                            class="Pro_input_Field driver-input-field"
                          />
                          <div
                            *ngIf="isSubmitted && f['phone_number'].errors"
                            class="text-danger"
                          >
                            <div *ngIf="f['phone_number'].errors['required']">
                              Phone number is required
                            </div>
                            <div *ngIf="f['phone_number'].errors['pattern']">
                              Phone number must be 10 digits
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-md-12 mb-3">
                        <span class="Password">
                          <textarea
                            formControlName="address"
                            placeholder="Address"
                            class="CompanyField Address mb-0"
                          ></textarea>
                          <div
                            *ngIf="isSubmitted && f['address'].errors"
                            class="text-danger"
                          >
                            <div *ngIf="f['address'].errors['required']">
                              Address is required
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-md-6 mb-3">
                        <span class="Password">
                          <input
                            type="text"
                            formControlName="email"
                            placeholder="Email"
                            class="Pro_input_Field driver-input-field"
                          />
                          <div
                            *ngIf="isSubmitted && f['email'].errors"
                            class="text-danger"
                          >
                            <div *ngIf="f['email'].errors['required']">
                              Email is required
                            </div>
                            <div *ngIf="f['email'].errors['email']">
                              Email is not valid
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-md-6 mb-">
                        <span class="Password">
                          <input
                            type="password"
                            formControlName="password"
                            placeholder="Password"
                            class="Pro_input_Field driver-input-field"
                          />
                          <div
                            *ngIf="isSubmitted && f['password'].errors"
                            class="text-danger"
                          >
                            <div *ngIf="f['password'].errors['required']">
                              Password is required
                            </div>
                          </div>
                        </span>
                      </div>
                      <div class="col-md-12">
                        <ul class="UploadMedia Addmedia certificates-container">
                          <li
                            (click)="
                              fileCertificatesInput.click();
                              onCertificateClick(item.name)
                            "
                            *ngFor="
                              let item of certificatesItems;
                              let index = index
                            "
                          >
                            <label
                              [ngClass]="
                                item.img.indexOf('edit-icon') > 0
                                  ? ''
                                  : 'with-img'
                              "
                            >
                              <i
                                *ngIf="!(item.img.indexOf('edit-icon') > 0)"
                                class="fa fa-trash Delete"
                                (click)="removePhoto($event, item.name)"
                              ></i>
                              <img
                                [src]="item.img"
                                [ngClass]="
                                  item.img.indexOf('edit-icon') > 0
                                    ? ''
                                    : 'c-width-100'
                                "
                              />
                              <span>{{ item.name }}</span>
                            </label>
                          </li>
                        </ul>
                        <input
                          #fileCertificatesInput
                          type="file"
                          (change)="readCertificatesURL($event)"
                          style="display: none"
                          accept="image/*"
                          multiple="true"
                        />
                        <div
                          *ngIf="isSubmitted && f['image'].errors"
                          class="text-danger"
                        >
                          <div *ngIf="f['image'].errors['required']">
                            Certificates are required
                          </div>
                        </div>
                      </div>

                      <div class="row col-md-12 notes mt-3">
                        <p>Notes:</p>
                        <ul class="mx-4">
                          <li>License is mandatory</li>
                          <li>Abstract is mandatory</li>
                          <li>Certificate is mandatory</li>
                          <li>CVOR is mandatory</li>
                          <li>Safety is mandatory</li>
                          <li>Insurance is mandatory</li>
                        </ul>
                        <div *ngIf="isShowCertificationErr" class="text-danger">
                          Please upload all mandatory documents
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-12">
                          <div
                            class="d-flex justify-content-between Cancel_Save"
                          >
                            <button
                              routerLink="/admin/driver"
                              class="CancelButton"
                            >
                              Cancel
                            </button>
                            <button
                              type="submit"
                              (click)="handleSubmit()"
                              class="SaveButton ButtonStyle"
                              *ngIf="isAddMode"
                            >
                              Add Driver
                              <i
                                class="fa fa-spinner fa-spin"
                                *ngIf="loading"
                              ></i>
                            </button>
                            <button
                              type="submit"
                              (click)="handleSubmit()"
                              class="SaveButton ButtonStyle"
                              *ngIf="!isAddMode"
                            >
                              Update Driver
                              <i
                                class="fa fa-spinner fa-spin"
                                *ngIf="loading"
                              ></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Popup Box ///////// -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
