<div class="ContentArea no-padding">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <form class="Search max-width-230px">
        <input (keyup)="search($event)" type="text" name="" placeholder="Search" />
        <button><i class="fa fa-search"></i></button>
      </form>
      <div class="Table mt-4">
        <div class="OrderList">
          <div class="row mt-3">
            <div class="Table_Scroll">
              <table
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <th>#</th>
                  <th>Address</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let item of addressData; let index = index">
                  <td>{{ item.sNo }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.latitude | number : '1.6-6'}}</td>
                  <td>{{ item.longitude | number : '1.6-6'}}</td>
                  <td>
                    <div class="GetIocn">
                      <a (click)="addressDelete(item.id)">
                        <i class="fa fa-trash Delete"></i>
                        <i
                          class="fa fa-spinner fa-spin"
                          *ngIf="delloading && toggle[item.id]"
                        ></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="row mt-3">
              <div class="col-md-7">
                <div class="pagination" *ngIf="showPaginator">
                  <mat-paginator [length]="totalAddressess"
                      [pageSize]="10"
                      (page)="handlePageEvent($event)"
                      aria-label="Select page">
                  </mat-paginator>
                </div>
              </div>
              <div class="col-md-5 text-end">

                <button routerLink="/admin/address/add" class="ButtonStyle">
                  Add Address
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
