.priority-numbers{
    list-style: none;
}
.priority-numbers li{
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}
.priority-numbers .dot{
    width: 12px;
    display: inline-block;
    height: 12px;
    border: 1px solid gray;
    border-radius: 50%;
    float: right;
    margin-top: 4px;
    cursor: pointer;
}

.active{
    background-color: #0eb002;
    border: 1px solid #0eb002;
}