<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="back-to-list">
        <a routerLink="/admin/dashboard"><button>Back to List</button></a>
      </div>
      <div class="Table AssociateDriver">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder">Order Detail</span>
            </div>
          </div>
          <!-- Step Div Area -->
          <div class="row gap-3 mt-4">
            <div class="col-md-3">
              <div class="ProfilePik">
                <div class="ChangePic P_Photo p-4">
                  <ng-container *ngIf="orderData?.order_type == 'pickup'" >
                  <img *ngIf="(!(orderData?.assigned_order[0]?.driver?.first_name) || orderData?.assigned_order[0]?.driver?.first_name?.length == 0)" src="assets/images/p-icon02.png" />
                  <img *ngIf="orderData?.assigned_order[0]?.driver?.first_name?.length > 0" src="assets/images/p_assigned.svg"/>
                </ng-container>

                  <!-- <div class="ChangeImg NoPhoto fontSize12">
                    <i class="fa fa-star"></i> Priority Delivery
                  </div> -->
                    
                  <ng-container *ngIf="orderData?.order_type == 'delivery'">
                    <img *ngIf="(!(orderData?.assigned_order[0]?.driver?.first_name) ||orderData?.assigned_order[0]?.driver?.first_name?.length == 0)"
                    src="./../../../../assets/images/d-icon.png"
                    />
                    <img *ngIf="orderData?.assigned_order[0]?.driver?.first_name?.length > 0"
                      src="./../../../../assets/images/d_assigned.svg"
                    />
                  </ng-container>
                </div>
                <div  *ngIf="orderData?.order_type == 'pickup'"  class="DeliveryNumber fontSize10">
                  <h4>{{ orderData?.po ? orderData?.po : orderData?.order_no }}</h4>
                  Pickup : {{ orderData?.dely_time }} |
                  {{ orderData?.dely_date | date : "fullDate" }}
                </div>
                <div  *ngIf="orderData?.order_type == 'delivery'"  class="DeliveryNumber fontSize10">
                  <h4>{{ orderData?.po ? orderData?.po : orderData?.order_no }}</h4>
                  Delivery : {{ orderData?.dely_time }} |
                  {{ orderData?.dely_date | date : "fullDate" }}
                </div>
                <div [ngClass]="orderData?.order_status != 'en-route' ? 'disabled-custom':'' "
                  class="NoPhoto mt-4 google-map" *ngIf="orderData">
                  <app-reusable-google-map></app-reusable-google-map>
                </div>
                <div *ngIf="orderData?.order_status != 'en-route'" class="DeliveryNumber fontSize10">
                  Track Order will be enabled only when Order is En-route.
                </div>
                <div [ngClass]="orderData?.order_status != 'en-route' ? 'disabled-custom':'' "
                  class="TrackDriver mt-3 cursor-pointer" (click)="trackDriver()">
                  <a> Track Order</a>
                </div>
                <br>

                <div class="driver-profile-image-container invoice-image-container d-flex justify-content-center items-center">
                  <i *ngIf="!(invoiceImageSrc.indexOf('edit-icon') > 0)" class="fa fa-trash Delete"
                    (click)="removeProfilePhoto($event)"></i>
                  <img *ngIf="!(invoiceImageSrc.indexOf('edit-icon') > 0) && invoiceImageSrc"
                    class="driver-profile-image invoice-image" [src]="invoiceImageSrc" [alt]="'logo'" width="100%"
                    style="height: 180px;" (click)="fileInput.click()" />
                  <img *ngIf="(invoiceImageSrc.indexOf('edit-icon') > 0)  && invoiceImageSrc" class="invoice-image"
                    [src]="invoiceImageSrc" [alt]="'logo'" width="35%" height="90%" (click)="fileInput.click()" />
                </div>
                <a *ngIf="this.orderData && this.orderData.order_invoice.length > 0" target="_blank"
                  class="uploaded-documenst mx-1 cursor-pointer" [href]="invoiceImageSrc">
                  <span style="font-size: 12px;">View Full Image</span>
                </a>
                <div class="cursor-pointer mt-3 " (click)="uploadInvoice()">
                  <button class="realtime-secondary-btn"> {{this.orderData && this.orderData.order_invoice.length > 0 ? 'Edit
                    Packing Slip': 'Upload Packing Slip'}} <i class="fa fa-spinner fa-spin"
                      *ngIf="isInvoiceLoading"></i>
                  </button>
                </div>
                <br>
                <div *ngIf="this.orderData && this.orderData.order_invoice.length > 0"
                  class="driver-profile-image-container invoice-image-container ">
                  <img *ngIf="!(receiverImage.indexOf('edit-icon') > 0) && receiverImage"
                    class="driver-profile-image invoice-image" [src]="receiverImage" [alt]="'logo'" width="100%"
                  style="height: 180px;" (click)="fileInput.click()" />
                  <img *ngIf="(receiverImage.indexOf('edit-icon') > 0)  && receiverImage"
                    class="driver-profile-image invoice-image" [src]="receiverImage" [alt]="'logo'" width="50%"
                    height="90%" (click)="fileInput.click()" />
                </div>
                <a *ngIf="this.orderData && this.orderData.order_invoice.length > 0" target="_blank"
                  class="uploaded-documenst mx-1 cursor-pointer" [href]="receiverImage">
                  <span style="font-size: 12px;">View Proof of Delivery Image</span>
                </a>

                <input #fileInput type="file" (change)="readURL($event)" style="display: none" accept="image/*" />
              </div>
            </div>
            <!-- Step Inner -->
            <div class="col-md-8">
              <!--Edit Delete -->
              <div class="col-md-12">
                <div class="AddEdit-Delete items-center">
                  <span class="fontSize12">Status</span>
                  <div class="Edi_Delete">
                    <span *ngIf="orderData && orderData.id" class="__Edit fontSize12 p-2 realtime-btn"
                      routerLink="/admin/orders/{{ orderData.id }}">
                      <span>Edit <i class="fa fa-pencil"></i></span>
                    </span>
                    <span class="__Edit fontSize12 realtime-btn p-2 delete-btn-rt" (click)="orderDelete(orderData.id)">
                      <span>Delete <i class="fa fa-trash"></i></span>
                    </span>
                    <span class="__Edit cursor-pointer fontSize12 realtime-btn p-2" (click)="getRecentNotifications()">
                      <span>Recent Notifications <i class="fa fa-bell" aria-hidden="true"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Edit Delete ///// -->
              <!-- Step Content Area -->
              <form [formGroup]="orderDetailsPushForm" class="ProfileFor">
                <div class="row mb-4">
                  <div class="CardPopup">
                    <div class="row">
                      <div class="col-md-12 mb-4">
                        <div class="Step_List">
                          <ul>
                            <li
                              [ngClass]="(orderData?.order_status== 'shipped' || orderData?.order_status== 'en-route' || orderData?.order_status== 'successful' || orderData?.order_status== 'pending' )?'active':'' "
                              class="w-100">
                              <a>
                                <span class="DotSpan">&nbsp;</span>
                                <span class="DotSpan_Title fontSize10"> Processed </span>
                                <div *ngIf='getDateTime("pending") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("pending") | date:'mediumDate'}} </div>
                                <div *ngIf='getDateTime("pending") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("pending") | date:'shortTime'}} </div>
                                <div *ngIf='getDateTime("pending") == "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;">NA </div>
                              </a>
                              <span
                                [ngClass]="(orderData?.order_status== 'shipped' || orderData?.order_status== 'en-route' || orderData?.order_status== 'successful' || orderData?.order_status== 'pending' )?'line-active':'' "
                                class="order-details-line"></span>
                            </li>
                            <li
                              [ngClass]="(orderData?.order_status== 'shipped' || orderData?.order_status== 'en-route' || orderData?.order_status== 'successful') ?'active':'' "
                              class=" w-100">
                              <a>
                                <span class="DotSpan">&nbsp;</span>
                                <span class="DotSpan_Title fontSize10"> Shipped </span>
                                <div *ngIf='getDateTime("shipped") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("shipped") | date:'mediumDate'}} </div>
                                <div *ngIf='getDateTime("shipped") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("shipped") | date:'shortTime'}} </div>
                                <div *ngIf='getDateTime("shipped") == "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> NA </div>
                              </a>
                              <span
                                [ngClass]="(orderData?.order_status== 'shipped' || orderData?.order_status== 'en-route' || orderData?.order_status== 'successful')?'line-active':'' "
                                class="order-details-line"></span>

                            </li>
                            <li
                              [ngClass]="(orderData?.order_status== 'en-route' || orderData?.order_status== 'successful')?'active':'' "
                              class="w-100">
                              <a>
                                <span class="DotSpan">&nbsp;</span>
                                <span class="DotSpan_Title fontSize10"> En route </span>
                                <div *ngIf='getDateTime("en-route") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("en-route") | date:'mediumDate'}} </div>
                                <div *ngIf='getDateTime("en-route") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("en-route") | date:'shortTime'}} </div>
                                <div *ngIf='getDateTime("en-route") == "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> NA </div>
                              </a>
                              <span
                                [ngClass]="(orderData?.order_status== 'en-route' || orderData?.order_status== 'successful')?'line-active':'' "
                                class="order-details-line"></span>

                            </li>
                            <li [ngClass]="orderData?.order_status== 'successful'?'active':'' " class=" w-100">
                              <a>
                                <span class="DotSpan">&nbsp;</span>
                                <span class="DotSpan_Title fontSize10"> Delivered </span>
                                <div *ngIf='getDateTime("successful") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("successful") | date:'mediumDate'}} </div>
                                <div *ngIf='getDateTime("successful") != "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;"> {{getDateTime("successful") | date:'shortTime'}} </div>
                                <div *ngIf='getDateTime("successful") == "NA"' class="DotSpan_Title fontSize12"
                                  style="color: black;">NA </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <br>
                    </div>
                    <br>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <table class="order-details-table">
                          <tbody>
                            <tr>
                              <th class="fontSize12">Order (Services ID):</th>
                              <td class="fontSize12">{{ orderData?.po ? orderData?.po : orderData?.order_no }}</td>
                            </tr>
                            <tr>
                              <th class="fontSize12">Requested By:</th>
                              <td class="fontSize12">{{ orderData?.created_by?.first_name }}</td>
                            </tr>
                            <tr>
                              <th class="fontSize12">Order Date:</th>
                              <td class="fontSize12">{{ orderData?.created_at | date : "fullDate" }}</td>
                            </tr>
                            <tr>
                              <th class="fontSize12">Order Time:</th>
                              <td class="fontSize12">{{ orderData?.created_at | date : "shortTime" }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-6 p-0">
                        <table class="w-100 order-details-table">
                          <tbody>
                            
                              <tr>
                                <th class="fontSize12">Order Status:</th>
                                <td><button class="orderstatus-btn button-{{
                                  orderData?.order_status | titlecase
                                }} status_button_style fontSize12">{{ orderData?.order_status }}</button></td>
                              </tr>
                            <tr>
                              <th class="fontSize12"  *ngIf="orderData?.order_type == 'pickup'">Pickup Date:</th>
                              <th class="fontSize12"  *ngIf="orderData?.order_type == 'delivery'">Delivery Date:</th>
                              <td class="fontSize12">{{ orderData?.dely_date | date : "fullDate" }}</td>
                            </tr>
                            <tr>
                              <th class="fontSize12" *ngIf="orderData?.order_type == 'pickup'">Pickup Time:</th>
                              <th class="fontSize12" *ngIf="orderData?.order_type == 'delivery'">Delivery Time:</th>

                              <td class="fontSize12"  *ngIf="getDateTime(orderData?.order_status)!= 'NA'">{{ getDateTime(orderData?.order_status) | date:'shortTime'}}</td>
                            </tr>
                            <tr>
                              <th class="fontSize12">Remarks:</th>
                              <td class="fontSize12">{{ orderData?.dely_note }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-4" *ngIf="orderData?.order_status == 'unsuccessful' || orderData?.order_status == 'successful'">
                  <div class="CardPopup">
                    <p style="font-size: 18px;">Order is <strong>{{orderData?.order_status | uppercase}}</strong>. Below Are the Reasons</p>
                    <div class="row m-0">
                      <div class="col-12 col-md-6 col-lg-6 p-0">
                        <h3 class="m-0" style="text-decoration: underline;"><strong>Driver Reasons:</strong></h3>
                        <ng-container  *ngIf="unsuccessfullReasons.length > 0">
                          <dl *ngFor="let reason of unsuccessfullReasons">
                            <dt class="fontSize12">{{reason.reason.title}}:</dt>
                            <dd class="fontSize12">{{reason.reason.reason_text}}</dd>
                          </dl>
                        </ng-container>
                        <div  *ngIf="unsuccessfullReasons.length == 0">
                          No Reasons found
                        </div>
                      </div>
                      
                      <div class="col-12 col-md-6 col-lg-6 p-0">
                        <h3 class="m-0" style="text-decoration: underline;"><strong>Customer Reasons:</strong></h3>
                        <ng-container *ngIf="orderData?.customer_reason?.length > 0">
                          <dl *ngFor="let reason of orderData.customer_reason">
                            <dt class="fontSize12" *ngIf="reason?.reason">{{reason?.reason?.title}}:</dt>
                            <dd class="fontSize12">{{reason?.reason?.reason_text}}</dd>
                          </dl>
                        </ng-container>
                        <div  *ngIf="orderData?.customer_reason?.length == 0">
                          No Reasons found
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <div class="row">
                  <!-- Order Detail -->
                  <div class="CardPopup">
                    <div class="d-flex justify-content-between">
                      <div>
                        <span *ngIf="orderData?.current_driver.first_name" class="Password FileUpload lh-50">
                          <strong>Assigned To:
                            {{
                            orderData?.current_driver.first_name
                            }}
                            {{
                            orderData?.current_driver?.last_name
                            }}</strong>
                          On {{ orderData?.dely_date | date : "fullDate" }}
                        </span>
                        <span *ngIf="!orderData?.current_driver.first_name" class="Password FileUpload lh-50">
                          <strong>Assigned To: </strong>UNASSIGNED
                        </span>
                      </div>
                      <div *ngIf="orderData?.current_driver.first_name && orderData?.order_status.toLowerCase() != 'successful' && orderData?.order_status.toLowerCase() != 'unsuccessful'" class="mb-2 p-0">
                        <div (click)="reassignNewDriver('200ms','200ms')" class="NewDriver d-inline-block">
                          <a>Reassign</a>
                        </div>
                      </div>
                    </div>
                    <br>
                    <!-- <div class="row">
                      <div class="col-8 mb-3">
                        <span *ngIf="orderData?.current_driver.first_name" class="Password FileUpload lh-50">
                          <strong>Assigned To:
                            {{
                            orderData?.current_driver.first_name
                            }}
                            {{
                            orderData?.current_driver?.last_name
                            }}</strong>
                          On {{ orderData?.dely_date | date : "fullDate" }}
                        </span>
                        <span *ngIf="!orderData?.current_driver.first_name" class="Password FileUpload lh-50">
                          <strong>Assigned To:</strong>UNASSIGNED
                        </span>
                      </div>
                      <div *ngIf="orderData?.current_driver.first_name" class="col-4 mb-2 p-0">
                        <div (click)="reassignNewDriver('200ms','200ms')" class="NewDriver">
                          <a>Reassign</a>
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <label class="fontSize12 fw-bold">Driver Phone Number</label>

                        <span class="Password">
                          <input type="text" name="" disabled placeholder="Contact Driver "
                            class="Pro_input_Field fontSize12" value="{{
                              orderData?.current_driver.phone_number
                              }}" />
                          <i *ngIf="orderData?.current_driver.phone_number?.length > 0"
                            (click)="copyText(orderData?.current_driver.phone_number)"
                            class="fa-solid fa-copy order-details-copy"></i>
                        </span>
                      </div>

                      <div class="col-md-6 mb-4">
                        <label class="fontSize12 fw-bold">Customer Phone Number</label>
                        <span class="Password">
                          <input type="text" name="" placeholder="Contact Customer" class="Pro_input_Field fontSize12"
                            disabled value="{{ orderData?.customer_phone }}" />
                          <i *ngIf="orderData?.customer_phone?.length > 0"
                            (click)="copyText( orderData?.customer_phone)"
                            class="fa-solid fa-copy order-details-copy"></i>
                        </span>
                      </div>
                      <div class="col-md-12 my-4 d-flex gap-1 flex-wrap">
                        <strong>Send Notification To: </strong>
                        <div class="mx-1 form-check form-check-inline" (click)="sendNotification('500ms','500ms',orderData?.current_driver?.id , 'Driver')">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Driver</label>
                        </div>
                        <div class="form-check form-check-inline" (click)="sendNotification('500ms','500ms',orderData?.customer_phone, 'Customer' )">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">Customer</label>
                        </div>
                        <!-- <button class="ButtonStyle"
                          (click)="sendNotification('500ms','500ms',orderData?.current_driver?.id , 'Driver')">
                          Send Notification to Driver <img class="send"
                            src="../../assets/images/pushnotification-white.jpg">

                        </button>
                        <button class="ButtonStyle mt-xs-4 sn-customer"
                          (click)="sendNotification('500ms','500ms',orderData?.customer_phone, 'Customer' )">
                          Send Notification to Customer <img class="send"
                            src="../../assets/images/pushnotification-white.jpg">

                        </button> -->

                      </div>

                      <!-- <div class="col-md-10 mb-4">
                        <span class="Password">
                          <input type="text" name="" formControlName="pnMsgCustomer"
                            placeholder="Push Notification message to Customer" class="Pro_input_Field" />
                        </span>
                        <div *ngIf="isSubmittedCustomer && f['pnMsgCustomer'].errors" class="text-danger">
                          <div *ngIf="f['pnMsgCustomer'].errors['required']">
                            Message is required
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2 mb-4">
                        <span class="Password SendNoti">
                          <button class="SendButton_S" (click)="sendMessage()">
                            Send
                            <img class="send" src="../../assets/images/pushnotification-white.jpg">
                          </button>
                        </span>
                      </div>

                      <div class="col-md-10 mb-4">
                        <span class="Password">
                          <input type="text" name="" placeholder="Push Notification message to Driver"
                            formControlName="pnMsgDriver" class="Pro_input_Field" />
                        </span>
                        <div *ngIf="isSubmitted && f['pnMsgDriver'].errors" class="text-danger">
                          <div *ngIf="f['pnMsgDriver'].errors['required']">
                            Message is required
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2 mb-4">
                        <span class="Password SendNoti">
                          <button class="SendButton_S" (click)="sendMessage()">
                            Send
                            <img class="send" src="../../assets/images/pushnotification-white.jpg">
                          </button>
                        </span>
                      </div> -->
                    </div>

                    <!-- <div class="d-flex justify-content-between mt-4 Cancel_Save">
                      <button class="SaveButton ButtonStyle">Send Push Notification</button>
                    </div> -->
                  </div>
                  <!--Order Detail ///////// -->
                </div>
              </form>
              <!-- Step Content Area ///// -->
            </div>
            <!-- Step Inner -->
            <div *ngIf="isShowRecentNotifications" class="col-md-4 recent-notifications">
              <span class="RecentTitleNto fontSize12">Recent Notification</span>
              <img class="cancel" src="../../assets/images/cancel.jpg" (click)="closeRecentNotifications()">
              <div class="Recente__Noti">
                <span class="Recent__">
                  <a class="active fontSize12">Customer</a>
                  <a class="fontSize12">Driver</a>
                </span>
                <span class="view__all fontSize12">
                  <a class="fontSize12">View All</a>
                  <a class="fontSize12">Clear All <img src="assets/images/filter-icon.png" /></a>
                </span>
              </div>
              <div class="PacelId mt-4">
                No Recent Notifications
                <!-- <ul>
                  <li class="UserName02">
                    <span class="Mintago fontSize12">50min ago</span>
                    <span class="Name_U fontSize12">Sandeep Singh</span>
                    <p class="Chat_text fontSize12">
                      Query or general message here.......... !
                    </p>
                  </li>
                  <li class="UserName02">
                    <span class="Mintago fontSize12">50min ago</span>
                    <span class="Name_U fontSize12">Sandeep Singh</span>
                    <p class="Chat_text fontSize12">
                      Query or general message here.......... !
                    </p>
                  </li>
                  <li class="UserName02">
                    <span class="Mintago fontSize12">50min ago</span>
                    <span class="Name_U fontSize12">Sandeep Singh</span>
                    <div class="ImgUpload ">
                      <img src="assets/images/download.png" />
                    </div>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <!-- Step Div Area /////////// -->
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>