.width-52{
    width: 52%;
}
.width18{
    width: 18%;
}
.ChangePic.P_Photo .ChangeImg.NoPhoto i {
    font-size: 13px;
}
.ChangePic img {
    max-width: 55px;
}
.width30{
    width: 30%;
}
.order-details-table th ,.order-details-table td{
    vertical-align: baseline;
}
.lh-50{
    line-height: 50px;
}
.send{
    width: 24px;
    margin-top: -5px;
}
.orderstatus-btn{
    padding: 0px 2px;
    width: auto;
    text-transform: uppercase;
}

.google-map{
    color: #646464 !important;
    padding: 20px 20px 20px !important;
    border: 1px solid lightgray !important;
    border-radius: 25px !important;

  }

  .order-details-line{
    border: 1px solid #bbc2c7;
    display: block;
    position: absolute;
    top: 9%;
    width: 100%;
  }
  .DotSpan_Title{
    margin-left: -17px;
  }
  .line-active{
    border: 1px solid #0eb002;
  }
  i.Delete{
    position: absolute;
    right: 2%;
    top: 2%;
}
.invoice-image{
    padding: 20px;
    border-radius: 0% !important;

}
.invoice-image-container{
    width: 100% !important;
}

@media screen and (max-width: 1265px){
    .sn-customer{
        margin-top: 10px;
    }
}
.form-check-input:checked {
    background-color: #0eb002;
    border-color: #0eb002;
}