<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="Table AssociateDriver">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder">Order Detail</span>
            </div>
          </div>
          <!-- Step Div Area -->
          <div class="row mt-4">
            <div class="col-md-3 width20">
              <div class="ProfilePik">
                <div class="ChangePic P_Photo">
                  <img src="assets/images/p-icon02.png" />
                  <div class="ChangeImg NoPhoto">
                    <i class="fa fa-star"></i> Priority Delivery
                  </div>
                </div>
                <div class="DeliveryNumber">
                  <h4>{{ orderData?.po }}</h4>
                  Delivery : {{ orderData?.dely_time }} |
                  {{ orderData?.dely_date | date : "fullDate" }}
                </div>
                <div class="ChangePic NoPhoto mt-4">&nbsp;</div>
                <div class="TrackDriver mt-3">
                  <a> Track Order</a>
                </div>
              </div>
            </div>
            <!-- Step Inner -->
            <div class="col-md-5">
              <!--Edit Delete -->
              <div class="col-md-12">
                <div class="AddEdit-Delete">
                  <span>Status</span>
                  <div class="Edi_Delete">
                    <span
                      class="__Edit"
                      routerLink="/admin/orders/{{ orderData.id }}"
                    >
                      <span>Edit <i class="fa fa-pencil"></i></span>
                    </span>
                    <span class="__Edit" (click)="orderDelete(orderData.id)">
                      <span>Delete <i class="fa fa-trash"></i></span>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Edit Delete ///// -->

              <!-- Step Title List -->
              <div class="col-md-12 mb-4">
                <div class="Step_List">
                  <ul>
                    <li class="active">
                      <a>
                        <span class="DotSpan">&nbsp;</span>
                        <span class="DotSpan_Title"> Processed </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="DotSpan">&nbsp;</span>
                        <span class="DotSpan_Title"> Shipped </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="DotSpan">&nbsp;</span>
                        <span class="DotSpan_Title"> En route </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="DotSpan">&nbsp;</span>
                        <span class="DotSpan_Title"> Delivered </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Step Title List ///// -->
              <!-- Step Content Area -->
              <form class="ProfileFor">
                <div class="row mb-4">
                  <div class="col-md-6">
                    <div class="OrderDate_Time">
                      <span>
                        <strong>Order (Services ID):</strong>
                        {{ orderData?.po }}
                      </span>
                      <span>
                        <strong>Request By:</strong>
                        {{ orderData?.created_by?.email }}
                      </span>
                      <span>
                        <strong>Order Date:</strong>
                        {{ orderData?.created_at | date : "fullDate" }}
                      </span>
                      <span>
                        <strong>Order Time:</strong>
                        {{ orderData?.created_at | date : "shortTime" }}
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="OrderDate_Time">
                      <span>
                        <strong>Estimated Time Arrival</strong>
                      </span>
                      <span>
                        <strong>Delivery Date:</strong>
                        {{ orderData?.dely_date | date : "fullDate" }}
                      </span>
                      <span>
                        <strong>Delivery Time:</strong>
                        {{ orderData?.dely_time }}
                      </span>
                      <span>
                        <strong>Remarks:</strong>
                        {{ orderData?.dely_note }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-12">
                    <div class="NewDriver">
                      <a>Reassign to new driver</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Order Detail -->
                  <div class="CardPopup">
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <span class="Password FileUpload">
                          <strong
                            >Assigned To:
                            {{
                              orderData?.assigned_order[0]?.driver?.first_name
                            }}
                            {{
                              orderData?.assigned_order[0]?.driver?.last_name
                            }}</strong
                          >
                          On {{ orderData?.dely_date | date : "fullDate" }}
                        </span>
                      </div>

                      <div class="col-md-6 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Contact Driver "
                            class="Pro_input_Field"
                            value="{{
                              orderData?.assigned_order[0]?.driver?.phone_number
                            }}"
                          />
                        </span>
                      </div>

                      <div class="col-md-6 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Contact Customer"
                            class="Pro_input_Field"
                            value="{{ orderData?.customer_phone }}"
                          />
                        </span>
                      </div>

                      <div class="col-md-10 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Push Notification message to Customer"
                            class="Pro_input_Field"
                          />
                        </span>
                      </div>

                      <div class="col-md-2 mb-4">
                        <span class="Password SendNoti">
                          <button class="SendButton_S">
                            Send
                            <i class="fa fa-paper-plane"></i>
                          </button>
                        </span>
                      </div>

                      <div class="col-md-10 mb-4">
                        <span class="Password">
                          <input
                            type="text"
                            name=""
                            placeholder="Push Notification message to Driver"
                            class="Pro_input_Field"
                          />
                        </span>
                      </div>

                      <div class="col-md-2 mb-4">
                        <span class="Password SendNoti">
                          <button class="SendButton_S">
                            Send
                            <i class="fa fa-paper-plane"></i>
                          </button>
                        </span>
                      </div>

                      <!-- <div class="d-flex justify-content-between mt-4 Cancel_Save">
                      <button class="SaveButton ButtonStyle">Send Push Notification</button>
                    </div> -->
                    </div>
                  </div>
                  <!--Order Detail ///////// -->
                </div>
              </form>
              <!-- Step Content Area ///// -->
            </div>
            <!-- Step Inner -->
            <div class="col-md-4 width37">
              <span class="RecentTitleNto">Recent Notification</span>
              <div class="Recente__Noti">
                <span class="Recent__">
                  <a class="active">Customer</a>
                  <a>Driver</a>
                </span>
                <span class="view__all">
                  <a>View All</a>
                  <a>Clear All <img src="assets/images/filter-icon.png" /></a>
                </span>
              </div>
              <div class="PacelId mt-4">
                <ul>
                  <li class="UserName02">
                    <span class="Mintago">50min ago</span>
                    <span class="Name_U">Sandeep Singh</span>
                    <p class="Chat_text">
                      Query or general message here.......... !
                    </p>
                  </li>
                  <li class="UserName02">
                    <span class="Mintago">50min ago</span>
                    <span class="Name_U">Sandeep Singh</span>
                    <p class="Chat_text">
                      Query or general message here.......... !
                    </p>
                  </li>
                  <li class="UserName02">
                    <span class="Mintago">50min ago</span>
                    <span class="Name_U">Sandeep Singh</span>
                    <div class="ImgUpload">
                      <img src="assets/images/download.png" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Step Div Area /////////// -->
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
