<div class="ContentArea">
  <div class="row mb-4">
    <div class="col-md-10">
      <div class="HeadingName">
        <h2 *ngIf="isAddMode">Add Warehouse</h2>
        <h2 *ngIf="!isAddMode">Edit Warehouse</h2>
      </div>
    </div>
    <div class="col-md-2 back-to-list">
      <a routerLink="/admin/warehouse"><button>Back to List</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form
        [formGroup]="addWare"
        class="ProfileFor"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-md-12">
            <input
              type="text"
              formControlName="warehouse_name"
              placeholder="Warehouse Name"
              class="Pro_input_Field"
            />
            <div
              *ngIf="isSubmitted && f['warehouse_name'].errors"
              class="text-danger"
            >
              <div *ngIf="f['warehouse_name'].errors['required']">
                Warehouse Name is required
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <select2
              [data]="data"
              class="Pro_input_Field"
              formControlName="address"
              placeholder="Address"
            ></select2>
            <div *ngIf="isSubmitted && f['address'].errors" class="text-danger">
              <div *ngIf="f['address'].errors['required']">
                Address is required
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <input
              type="text"
              formControlName="contact_name"
              placeholder="Contact Name"
              class="Pro_input_Field"
            />
            <div
              *ngIf="isSubmitted && f['contact_name'].errors"
              class="text-danger"
            >
              <div *ngIf="f['contact_name'].errors['required']">
                Contact Name is required
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <input
              type="text"
              formControlName="email"
              placeholder="Email"
              class="Pro_input_Field"
            />
            <div *ngIf="isSubmitted && f['email'].errors" class="text-danger">
              <div *ngIf="f['email'].errors['required']">Email is required</div>
              <div *ngIf="f['email'].errors['email']">Email is not valid</div>
            </div>
          </div>
          <div class="col-md-2 mt-3">
            <span class="Password">
              <select placeholder="Country" formControlName="country_code" class="Pro_input_Field selectpicker countrypicker">
                 <option value="" disabled [selected]="true">Select Country</option>
                 <option *ngFor="let country of countryCodes" [value]="country.dial_code">
                  <span class="mx-3 fw-bold">{{country.name+" "+country.dial_code}}</span>
                 </option>
               </select>
               <div *ngIf="isSubmitted && f['country_code'].errors" class="text-danger">
                <div *ngIf="f['country_code'].errors['required']">
                  Country is required
                </div>
              </div>
           </span>
          </div>
          <div class="col-md-5 mt-3">
            <input type="number"
              name="" 
              formControlName="phone"
              placeholder="Mobile Number"
              class="Pro_input_Field driver-input-field"
              onKeyPress="if(this.value.length==10) return false;"
             >
            <div *ngIf="isSubmitted && f['phone'].errors" class="text-danger">
              <div *ngIf="f['phone'].errors['required']">
                Phone number is required
              </div>
              <div *ngIf="f['phone'].errors['pattern']">
                Phone number must be 10 digits
              </div>
            </div>
          </div>

          <div class="col-md-5 mt-3">
            <input
              type="number"
              formControlName="alt_phone"
              placeholder="Alternative Phone"
              class="Pro_input_Field"
              onKeyPress="if(this.value.length==10) return false;"
            />
            <div
              *ngIf="isSubmitted && f['alt_phone'].errors"
              class="text-danger"
            >
              <div *ngIf="f['alt_phone'].errors['required']">
                Alternative Phone number is required
              </div>
              <div *ngIf="f['alt_phone'].errors['pattern']">
                Alternative Phone number must be 10 digits
              </div>
            </div>
          </div>

          <!-- <div class="col-md-12 mt-3">
            <div class="Div01 Div02 d-flex justify-content-start">
              Is it main location?
              <input
                type="radio"
                formControlName="is_main_localation"
                value="true"
                [checked]="this.frmValues.is_main_localation"
              />
            </div>
          </div> -->
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="d-flex justify-content-end Cancel_Save">
              <button
                type="submit"
                (click)="handleSubmit()"
                class="SaveButton ButtonStyle"
                *ngIf="isAddMode"
              >
                Add Warehouse
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
              <button
                type="submit"
                (click)="handleSubmit()"
                class="SaveButton ButtonStyle"
                *ngIf="!isAddMode"
              >
                Update Warehouse
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
