.ticket-open{
    color: red;
    text-transform: uppercase;
}
.ticket-close{
    color: green;
    text-transform: uppercase;

}
.unread{
    position: absolute;
    top: -1px;
    right: -2px;
    font-size: 10px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: red;
    font-weight: bold;
    margin-top: auto;
    padding-top: 3px;
}
.unread-msg{
    position: relative;
}