<div class="ContentArea">
  <div class="TabsList">
    <ul class="Tab_List" *ngIf="authService._isRoleName != 'superadmin' ">
      <li (click)="driverTickets()" [ngClass]="tabName == 'DT' ? 'active' : ''">
        <a >Driver Tickets : {{headerCountsData[0]?.count}} <span>Total: {{headerCountsData[0]?.count+headerCountsData[1]?.count+headerCountsData[2]?.count}}</span></a>
      </li>
      <li (click)="customerTickets()" [ngClass]="tabName == 'CT' ? 'active' : ''">
        <a>Customer Tickets: {{headerCountsData[1]?.count}} </a>
      </li>
      <li (click)="myTickets()" [ngClass]="tabName == 'MT' ? 'active' : ''">
        <a >My Tickets : {{headerCountsData[2]?.count}}
        </a>
      </li>
    </ul>
    <ul class="Tab_List" *ngIf="authService._isRoleName == 'superadmin'">
      <li class="active">
        <a >Organisation Tickets : {{ticketsCount}} <span>Total: {{ticketsCount}}</span></a>
      </li>
    </ul>
  </div>
  <div class="row p-4 pb-0">
    <!-- <div class="col-md-12">
      <div class="HeadingName">
        <h2>Tickets</h2>
      </div>
    </div> -->
    <div class="col-md-12">
      <div class="SearchFilter">
        <form class="Search">
          <input type="text" name="" (keyup)="search($event)" placeholder="Search" />
          <button><i class="fa fa-search my-2"></i></button>
        </form>
        <div class="Filter_Set">
          <span><input (click)="onStatusChange('all_ticket')" type="radio" name="status" checked="checked" /> All ({{statusCountsData[0]?.count}})</span>
          <span><input (click)="onStatusChange('close')" type="radio" name="status" /> Closed ({{statusCountsData[2]?.count}})</span>
          <span><input (click)="onStatusChange('open')" type="radio" name="status" /> Open ({{statusCountsData[1]?.count}})</span>
          <!-- <span
            >Filter Results <img src="assets/images/filter-icon.png"
          /></span> -->
        </div>
      </div>
    </div>
  </div>
  <div  id="Tb-Tabs01" class="Tabs01 TabsMain  p-4">
    <div class="Table mt-4">
      <div class="OrderList">
        <div class="row mt-3">
          <div class="Table_Scroll">
            <table
              class="Order_Table Track_List"
              cellpadding="0"
              cellspacing="0"
              border="0"
            >
              <tr class="T_Head">
                <th>Ticket ID</th>
                <th *ngIf="tabName == 'CT'">Customer Name</th>
                <th *ngIf="tabName == 'DT'">Driver Name</th>
                <th *ngIf="tabName == undefined">Admin Name</th>
                <th>Subject</th>
                <th>Report Date</th>
                <th>Report Time</th>
                <th>Last Update</th>
                <th>Status</th>
                <th>Other Option</th>
              </tr>
              <tr *ngFor="let item of ticketsData">
                <td><img src="./../../../../assets/images/ticket-icon.png" style="max-width: 15px;" class="mx-2" />{{item?.id}}</td>
                <td *ngIf="tabName != 'MT'">{{item.created_by}}</td>
                <td>{{item.subject}}</td>
                <td>{{item.created_date}}</td>
                <td>{{item.created_time}}</td>
                <td *ngIf="item.messages.length > 0"><span class="">{{convertLastUpdateTime(item.messages[item.messages.length -1].sent_at)}}</span></td>
                <td *ngIf="item.messages.length == 0"><span class="">{{item.created_time}}</span></td>
                <td *ngIf="item.ticket_status == 'open'" class="ticket-close">{{item.ticket_status}}</td>
                <td *ngIf="item.ticket_status == 'close'" class="ticket-open">{{item.ticket_status}}D</td>
                <td>
                  <div class="GetIocn">
                    <span class="fa fa-phone"></span>
                    <!-- <span class="fa fa-paper-plane"></span> -->
                    <a [routerLink]="'/admin/tickets/'+item.id"><span class="fa fa-message unread-msg">
                     <span *ngIf="oneIsTrue(item.messages)" class="unread"></span>
                    </span></a>
                    <a [routerLink]="'/admin/tickets/'+item.id"><i style="font-size: 18px;" class="fa fa-eye" aria-hidden="true"></i></a>
                  </div>
                </td>
              </tr>
              
            </table>
          </div>
          <div class="row mt-3">
            <div class="col-md-7 text-left">
              <div class="pagination" *ngIf="showPaginator">
                <mat-paginator [length]="ticketsCount"
                    [pageSize]="10"
                    (page)="handlePageEvent($event)"
                    aria-label="Select page">
                </mat-paginator>
              </div>
            </div>
              <div class="col-md-5 text-end"  *ngIf="tabName == 'MT'">
                <button (click)="createTicket()" class="ButtonStyle">Create Ticket</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
