<!-- Side Bar -->
<section class="section" style="background: #ebeff2;">
    <div class="container-fluid">
        <div class="row">
            <!-- Side Bar -->
            <div class="col-md-2">
                <app-menu></app-menu>
            </div>
            <!-- Side Bar /////////// -->
            <div class="col-md-10">

                <app-top></app-top>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ContentArea no-padding">
                            <div class="row">
                                <div class="TabsList">
                                    <ul class="Tab_List">
                                        <li class="active">
                                            <a href="#!">All 120</a>
                                        </li>
                                        <li>
                                            <a href="#!">Weekly 20</a>
                                        </li>
                                        <li class="MonthlyTab">
                                            <a href="#!">Monthly 120</a>
                                        </li>
                                        <li class="YearlyTab">
                                            <a href="#!">Yearly 120</a>
                                        </li>
                                        <li class="MonthlyTab">
                                            <a href="#!">Custom</a>
                                        </li>
                                        <li>
                                            <a href="#!">Deactivated Companies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="FilterTab FilterTabHome">
                                        <a href="#!">
                                            <span>Filter</span>
                                            <img src="assets/images/filter-icon.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ContentArea_Inner">
                                <div class="ConpanyDetail home-filter mb-5">
                                    <div class="row pb-1">
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans">
                                                    <img src="assets/images/sper-top-icon02.png">
                                                    <span class="IconHeading">Gold Plan</span>
                                                    <span class="__Plan GoldPlan">
                                                        24 Days Left for plan renewal
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans __Silver">
                                                    <img src="assets/images/sper-top-icon03.png">
                                                    <span class="IconHeading">Silver Plan</span>
                                                    <span class="__Plan GoldPlan">
                                                        24 Days Left for plan renewal
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans __Bronze">
                                                    <img src="assets/images/sper-top-icon04.png">
                                                    <span class="IconHeading">Bronze Plan</span>
                                                    <span class="__Plan GoldPlan">
                                                        24 Days Left for plan renewal
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans __Bronze">
                                                    <img src="assets/images/sper-top-icon02.png">
                                                    <span class="IconHeading">Gold Plan</span>
                                                    <span class="__Plan GoldPlan Deactivated">
                                                        Deactivated
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Side Bar /////////////////// -->