<div class="ContentArea p-4">
  <div class="back-to-list">
    <a routerLink="/admin/tickets"><button>Back to List</button></a>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="HeadingName">
        <h2 *ngIf="!isCreateTicketMode" class="m-0">
          {{getHeaderName()}}
        </h2>
        <h2 *ngIf="isCreateTicketMode" >Create Ticket</h2>

      </div>
    </div>
    
  </div>
  <div *ngIf="!isCreateTicketMode" class="row">
    <div class="col-md-10">
      <div class="ChatList">
        <div class="Ticket_Id">
          <div class="Edi_Delete tickt-edit-delte">
            <span class="__Edit fontSize12">
              <span (click)="deleteTicket()">Delete <i class="fa fa-trash"></i></span>
            </span>
          </div>
          <!-- <h3>{{ticketDetails?.created_by}} <span class="Time-Min-Ago">2 mins ago</span></h3> -->
          <h4>Ticket ID: {{ticketDetails?.id}}</h4>
          <p>
            <strong>Subject:</strong> {{ ticketDetails?.subject}}
          </p>
          <p>
            <strong>Description:</strong> {{ ticketDetails?.description}} 
          </p>
        </div>
        <div class="col-md-6 mb-4">
          <label for="Documents" class="Password FileUpload">
            <strong>Uploaded Attachments:</strong>
            <br>
            <a href="{{certificate.ticket_image}}" target="_blank" download="{{certificate.id}}"
              class="uploaded-documenst mx-1 cursor-pointer"
              *ngFor="let certificate of ticketDetails?.image_ticket; let index=index">
              <i class='fa fa-paperclip fa-paperclip-vertical' style="color: #0eb002"></i>
              <span style="font-size: 12px;">Attachment{{index+1}}</span>
            </a>
          </label>
        </div>
        <div *ngIf="ticketDetails?.ticket_status == 'close'" class="alert alert-success mx-3" role="alert">
          <strong>This ticket is Closed by {{ticketDetails?.messages[ticketDetails.messages.length -1]?.sender_name}} on {{ticketDetails?.messages[ticketDetails.messages.length -1]?.sent_at | date}}! </strong>
        </div>
        
        <div  class="conversation-container" *ngIf="messagesHistory && messagesHistory.length > 0">
          <ul *ngFor="let item of messagesHistory">
            <li class="UserName01" *ngIf="item?.user_type == 'USER1'">
              <div class="bubble you"></div>
              <span class="Mintago">{{item.chat_since}}</span>
              <span class="Name_U">{{item.sender_name}}</span>
              <p class="Chat_text">{{item.message}}</p>
              <div *ngIf="item.chat_image" class="ImgUpload">
                        <a href="{{item.chat_image}}" target="_blank"
                      class="cursor-pointer">
                      <img [src]="item.chat_image" />
                    </a>
                
              </div>
            </li>
            <li class="UserName02" *ngIf="item?.user_type == 'USER2'">
              <div class="bubble me"></div>
              <span class="Mintago">{{item.chat_since}}</span>
              <span class="Name_U">{{item.sender_name}}</span>
              <p class="Chat_text">{{item.message}}</p>
              <div *ngIf="item.chat_image" class="ImgUpload">
                <a href="{{item.chat_image}}" target="_blank"
                      class="cursor-pointer">
                      <img [src]="item.chat_image" />
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="conversation-container h-150 " *ngIf="messagesHistory && messagesHistory.length == 0">
          <h2 class="text-center">No Messages to Display</h2>
        </div>
        
        <div  *ngIf="ticketDetails.ticket_status != 'close'" class="SendMessage py-4">
          <div style="width: 80%">
          <div class="w-100 Message01 message-container">
            <textarea class="border-0" maxlength="500" [(ngModel)]="customMessage" placeholder="Write your Message"></textarea>
            <div class="position-relative">
              <img *ngIf="attachments.length > 0" [src]="this.attachments[0]" width="100%" height="100%">
              <i  *ngIf="attachments.length > 0" (click)="removeChatAttachment()" class="fa fa-times ticket-delete" aria-hidden="true"></i>

            </div>
          </div>
          <span class="notes-msg">{{customMessage.length}}/500</span>
        </div>
          <div class="Message02">
            <div class="open-close">
              <label> Open <input (click)="updateTicketStatus(false)" type="radio" name="status" checked="checked"/> </label>
              <label> Close <input (click)="updateTicketStatus(true)" type="radio" name="status" /> </label>
            </div>
            <div class="open-close AttachFile">
              <label>Attach File
                <i class="fa fa-paperclip paperclip" aria-hidden="true"></i>
                <input #fileInput type="file" (change)="readURL($event)" style="display: none" accept="image/*" />
              </label>
                
              <button class="ButtonStyle" (click)="sendChat()">Send <i class="fa fa-spinner fa-spin" *ngIf="sendloadin"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form *ngIf="isCreateTicketMode" [formGroup]="createTicketForm"
  >
    <div class="SendMessage d-block">
      <div class="Message01">
        <input type="text"
            placeholder="Subject"
            formControlName="subject"
            class="CompanyField mb-0 ticket-title"
          />

          <div *ngIf="isSubmitted && createTicketForm.controls['subject'].errors" class="text-danger">
            <div *ngIf="createTicketForm.controls['subject'].errors['required']">
              Subject is required
            </div>
          </div>
      </div>
      <br>
      <div class="Message01">
        <textarea placeholder="Write your Message" formControlName="description"
        ></textarea>
        <div *ngIf="isSubmitted && createTicketForm.controls['description'].errors" class="text-danger">
          <div *ngIf="createTicketForm.controls['description'].errors['required']">
            Description is required
          </div>
        </div>
      </div>
      <br>
      <div class="Message01">
        <span class="gallery" *ngFor="let img of attachments">
          <a target="_blank" href="img_forest.jpg">
            <img [src]="img" alt="Forest">

          </a>
          <i (click)="removeAttachment(img)" class="fa fa-times ticket-delete" aria-hidden="true"></i>
        </span>
        <p class="gray my-2" *ngIf="attachments.length > 0"><span><strong>Note:</strong></span><i class="mx-1">You can Attach Maximum 5 Images</i></p>
      </div>
      <br>
      <div class="Message02">
        <div class="open-close">
        </div>
        <div class="open-close AttachFile pt-2">
          <label [ngClass]="attachments.length == 5 ? 'disabled-custom':''" (click)="fileInput.click()" >Attach File
            <i class="fa fa-paperclip paperclip" aria-hidden="true"></i></label>
            <input #fileInput type="file" (change)="readURL($event)" style="display: none" accept="image/*" />
          <button class="ButtonStyle" (click)="createTicket()">Create Ticket <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </div>
      </div>
    </div>
  </form>