.tickt-edit-delte{
    float: right;
}
.tickt-edit-delte .__Edit{
    font-weight: bold;
}
.bubble{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin: auto;
    bottom: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}
.you{
    background: #ebeff2;
    left: -9px;
}
.me{
    background: #d8fad6;
    right: -9px;
}
.ticket-title{
    border: 1px solid gray;
}
span.gallery {
    margin: 5px;
    width: 180px;
    display: inline-block;
    border-radius: 10%;
  }
  
  span.gallery:hover {
    border: 1px solid #777;
  }
  
  span.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10%;
  }
  
  span.desc {
    padding: 15px;
    text-align: center;
  }
  .conversation-container{
    padding: 20px;
    height: 400px;
    overflow: auto;
    border: 1px solid darkgray;
    border-radius: 22px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }
  .h-150{
    height: 150px !important;
  }
  .h-300{
    height: 300px !important;
  }
  .h-200{
    height: 200px !important;
  }
  .h-342{
    height: 342px !important;
  }
  .message-container{
    border: 1px solid darkgray;
    border-radius: 22px;
    padding: 15px;
  }