<div class="ContentArea p-4">
  <div class="back-to-list">
    <a routerLink="/admin/tickets"><button>Back to List</button></a>
</div>
  <div class="row">
    <div class="col-md-12">
      <div class="HeadingName">
        <h2 *ngIf="!isCreateTicketMode" class="m-0">Tickets</h2>
        <h2 *ngIf="isCreateTicketMode" >Tickets</h2>

      </div>
    </div>
    
  </div>
  <div *ngIf="!isCreateTicketMode" class="row">
    <div class="col-md-10">
      <div class="ChatList">
        <div class="Ticket_Id">
          <div class="Edi_Delete tickt-edit-delte">
            <span
              class="__Edit fontSize12"
            >
              <span>Edit <i class="fa fa-pencil"></i></span>
            </span>
            <span class="__Edit fontSize12">
              <span>Delete <i class="fa fa-trash"></i></span>
            </span>
          </div>
          <h3>{{ticketDetails?.created_by}} <span class="Time-Min-Ago">2 mins ago</span></h3>
          <h4>Ticket ID: {{id}}</h4>
          <p>
            Subject: {{ ticketDetails?.subject}} | {{ ticketDetails?.description}} 
          </p>
        </div>
        <div  class="conversation-container" *ngIf="messagesHistory && messagesHistory.length > 0">
          <ul *ngFor="let item of messagesHistory">
            <li class="UserName01" *ngIf="item?.user_type == 'USER1'">
              <div class="bubble you"></div>
              <span class="Mintago">{{item.chat_since}}</span>
              <span class="Name_U">{{item.sender_name}}</span>
              <p class="Chat_text">{{item.message}}</p>
              <div *ngIf="item.chat_image" class="ImgUpload">
                <img [src]="item.chat_image" />
              </div>
            </li>
            <li class="UserName02" *ngIf="item?.user_type == 'USER2'">
              <div class="bubble me"></div>
              <span class="Mintago">{{item.chat_since}}</span>
              <span class="Name_U">{{item.sender_name}}</span>
              <p class="Chat_text">{{item.message}}</p>
              
            </li>
          </ul>
        </div>
        <div class="conversation-container h-150 " *ngIf="messagesHistory && messagesHistory.length == 0">
          <h2 class="text-center">No Messages to Display</h2>
        </div>
        <div class="SendMessage py-4">
          <div class="Message01 message-container">
            <textarea class="border-0" [(ngModel)]="customMessage" placeholder="Custom Message"></textarea>
            <div>
              <img *ngIf="attachments.length > 0" [src]="this.attachments[0]" width="100%" height="100%">
            </div>
          </div>
          <div class="Message02">
            <div class="open-close">
              <label> Open <input (click)="updateTicketStatus('Open')" type="radio" name="status"/> </label>
              <label> Close <input (click)="updateTicketStatus('Close')" type="radio" name="status" /> </label>
            </div>
            <div class="open-close AttachFile">
              <label>Attach File
                <i class="fa fa-paperclip paperclip" aria-hidden="true"></i>
                <input #fileInput type="file" (change)="readURL($event)" style="display: none" accept="image/*" />
              </label>
                
              <button class="ButtonStyle" (click)="sendChat()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form *ngIf="isCreateTicketMode" [formGroup]="createTicketForm"
  >
    <div class="SendMessage d-block">
      <div class="Message01">
        <input type="text"
            placeholder="Title"
            formControlName="subject"
            class="CompanyField mb-0 ticket-title"
          />

          <div *ngIf="isSubmitted && createTicketForm.controls['subject'].errors" class="text-danger">
            <div *ngIf="createTicketForm.controls['subject'].errors['required']">
              Title is required
            </div>
          </div>
      </div>
      <br>
      <div class="Message01">
        <textarea placeholder="Custom Message" formControlName="description"
        ></textarea>
        <div *ngIf="isSubmitted && createTicketForm.controls['description'].errors" class="text-danger">
          <div *ngIf="createTicketForm.controls['description'].errors['required']">
            Description is required
          </div>
        </div>
      </div>
      <br>
      <div class="Message01">
        <span class="gallery" *ngFor="let img of attachments">
          <a target="_blank" href="img_forest.jpg">
            <img [src]="img" alt="Forest" width="600" height="400">
          </a>
        </span>
      </div>
      <br>
      <div class="Message02">
        <div class="open-close">
        </div>
        <div class="open-close AttachFile pt-2">
          <label (click)="fileInput.click()" >Attach File
            <i class="fa fa-paperclip paperclip" aria-hidden="true"></i></label>
            <input #fileInput type="file" (change)="readURL($event)" style="display: none" accept="image/*" />
          <button class="ButtonStyle" (click)="createTicket()">Create Ticket <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </div>
      </div>
    </div>
  </form>