<div class="ContentArea">
  <div class="TabsList">
    <ul class="Tab_List items-center">
      <li class=" cursor-pointer" [ngClass]="tabName == 'all' ? 'active' : ''" (click)="onTabClick('all')">
        <a >All Notifications</a>
      </li>
      <li class="cursor-pointer" [ngClass]="tabName == 'Customer' ? 'active' : ''"  (click)="onTabClick('Customer')">
        <a>Customer Notifications </a>
      </li>
      <li class="cursor-pointer" [ngClass]="tabName == 'Driver' ? 'active' : ''"  (click)="onTabClick('Driver')">
        <a>Driver Notifications </a>
      </li>
      <li class="ms-auto mx-2">
        <button class="ButtonStyle" (click)="sendNotification('500ms','500ms')">Send Notification
        </button>
      </li>
      
    </ul>
  </div>
 <br><br>
  <div class="row m-t-3 p-4">
    <div class="cursor-pointer d-flex justify-between col-md-11 mb-3 m-auto text-end">
      
      <form class="Search max-width-230px">
        <input (keyup)="search(searchText)" type="text" [(ngModel)]="searchText" name="searchText" value="" placeholder="Search" />
        <button><i class="fa fa-search"></i></button>
        <!-- <button><i (click)="search('')" class="fa fa-close cursor-pointer"></i> -->
        <!-- </button> -->
      </form>
      <button class="ClearButton" (click)="clearAll()">Clear All <i *ngIf="isClearAllLoading" class="fa fa-spinner fa-spin"></i>
      </button>
      
    </div>
    <div class="col-md-11 m-auto card p-4">
      <div class="NotificationOpen">
        <div *ngIf="loader" id="loader"></div>
        <table *ngIf="!loader && notificationSentList && notificationSentList.length > 0" class="NotificationTable" width="100%" cellpadding="0" cellspacing="0">
          <!-- <tr class="Clear_Noti" valign="top">
            <td colspan="3" width="75%">
              <img src="assets/images/profilephoto.png" class="users_img">
              <span class="username-title">
                Sandeep Singh
                <span class="ago">20 mints ago</span>
              </span>
              <div class="ClearText">
                <h5>Delivered Parcel Issue <img
                    src="assets/images/sertifite-icon.png"></h5>
                <p>Lorem Ipsum is simply dummy text of the printing. Lorem
                  Ipsum is simply dummy. </p>
                <a  class="ClearButton">Clear</a>
              </div>
            </td>
            <td>
              Read <i class="fa fa-check check" aria-hidden="true"></i>
            </td>
            <td align="center">
              <input type="checkbox" name="" class="checkbox_check">
            </td>
          </tr> -->
          <tr *ngFor="let notification of notificationSentList">
            <td width="20%">
              <img src="assets/images/profilephoto.png" class="users_img">
              <span class="username-title">
                {{notification.sent_to}}
                <span class="ago">{{notification.sent_at| dateAgo}} ago</span>
              </span>
            </td>
            <td width="20%">
              <span class="TitleNae"><strong>Title :</strong> {{notification.title}}</span>
            </td>
            <td width="30%">
              <strong>Message :</strong> {{notification.message}}
            </td>
            <td width="15%">
              <a *ngIf="notification.image.length > 0" class="link" target="_blank" href="{{notification.image}}">
                 Image
              </a>
            </td>
            <td width="15%" align="center">
              <i (click)="clearNotification(notification.id)" class="fa fa-close cursor-pointer">
                <i *ngIf="isClearLoading && clearNotificationId == notification.id" class="fa fa-spinner fa-spin"></i>
              </i>
              
            </td>
          </tr>
        </table>
        <div *ngIf="!(notificationSentList && notificationSentList.length > 0)">
          <h1>No Records</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Recent Notification Popup -->
<!-- <div class="NotificationPopup">
  <div class="RecentNot">
    <h4>Recent Notification
      <a href="" class="_ViewAll">View All
        <span class="Closeimg_Img"><img src="assets/images/closeimg.png"></span>
      </a>
    </h4>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
</div> -->
<!-- Recent Notification Popup //////////// -->