<div class="ContentArea">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="HeadingName">
        <h2>Notification</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="NotificationOpen">
        <table class="NotificationTable" width="100%" cellpadding="0"
          cellspacing="0">
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><span class="SelectAll">Select All</span></th>
            <th>Deselect All</th>
          </tr>
          <tr class="Clear_Noti" valign="top">
            <td colspan="3" width="75%">
              <img src="assets/images/profilephoto.png" class="users_img">
              <span class="username-title">
                Sandeep Singh
                <span class="ago">20 mints ago</span>
              </span>
              <div class="ClearText">
                <h5>Delivered Parcel Issue <img
                    src="assets/images/sertifite-icon.png"></h5>
                <p>Lorem Ipsum is simply dummy text of the printing. Lorem
                  Ipsum is simply dummy. </p>
                <a  class="ClearButton">Clear</a>
              </div>
            </td>
            <td>
              Read <i class="fa fa-check check" aria-hidden="true"></i>
            </td>
            <td align="center">
              <input type="checkbox" name="" class="checkbox_check">
            </td>
          </tr>
          <tr>
            <td>
              <img src="assets/images/profilephoto.png" class="users_img">
              <span class="username-title">
                Sandeep Singh
                <span class="ago">20 mints ago</span>
              </span>
            </td>
            <td width="10%">
              <span class="TitleNae">Title</span>
            </td>
            <td>
              Lorem Ipsum is simply dummy text of the printing.
            </td>
            <td>
              Read <i class="fa fa-check check" aria-hidden="true"></i>
            </td>
            <td align="center">
              <input type="checkbox" name="" class="checkbox_check">
            </td>
          </tr>
          <tr>
            <td>
              <img src="assets/images/profilephoto.png" class="users_img">
              <span class="username-title">
                Sandeep Singh
                <span class="ago">20 mints ago</span>
              </span>
            </td>
            <td width="10%">
              <span class="TitleNae">Title</span>
            </td>
            <td>
              Lorem Ipsum is simply dummy text of the printing.
            </td>
            <td>
              Read <i class="fa fa-check check" aria-hidden="true"></i>
            </td>
            <td align="center">
              <input type="checkbox" name="" class="checkbox_check">
            </td>
          </tr>
          <tr>
            <td>
              <img src="assets/images/profilephoto.png" class="users_img">
              <span class="username-title">
                Sandeep Singh
                <span class="ago">20 mints ago</span>
              </span>
            </td>
            <td width="10%">
              <span class="TitleNae">Title</span>
            </td>
            <td>
              Lorem Ipsum is simply dummy text of the printing.
            </td>
            <td>
              Read <i class="fa fa-check check" aria-hidden="true"></i>
            </td>
            <td align="center">
              <input type="checkbox" name="" class="checkbox_check">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Recent Notification Popup -->
<!-- <div class="NotificationPopup">
  <div class="RecentNot">
    <h4>Recent Notification
      <a href="" class="_ViewAll">View All
        <span class="Closeimg_Img"><img src="assets/images/closeimg.png"></span>
      </a>
    </h4>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
  <div class="IconImgSet Starworld">
    <img src="assets/images/profilephoto.png">
    <span class="IconHeading">Starworld Sipping Pvt. Ltd
      <span class="SurName">Dummy Text</span>
    </span>
  </div>
</div> -->
<!-- Recent Notification Popup //////////// -->
