<div class="ContentArea p-5">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="HeadingName">
        <h2>My Profile</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="ProfilePik">
        <div class="ChangePic">
          <img
            *ngIf="profileData?.profile_image"
            [src]="profileData?.profile_image"
            [alt]="'logo'"
          />
          <img
            *ngIf="!profileData?.profile_image"
            [src]="imageSrc"
            [alt]="'logo'"
          />
          <span class="Edit_Img">
            <img src="assets/images/edir-img.png" />
          </span>
        </div>
        <div class="ChangeImg">Change Profile Photo</div>
      </div>
    </div>
    <div class="col-md-9">
      <form [formGroup]="ProfileFor" class="ProfileFor">
        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              name="first_name"
              [value]="profileData?.first_name"
              placeholder="First Name"
              class="Pro_input_Field"
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name="last_name"
              [value]="profileData?.last_name"
              placeholder="Last Name"
              class="Pro_input_Field"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <input
              type="text"
              name="phone_number"
              [value]="profileData?.phone_number"
              placeholder="Mobile Number"
              class="Pro_input_Field"
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name="email"
              [value]="profileData?.email"
              placeholder="Email"
              class="Pro_input_Field"
            />
          </div>
        </div>
        <div class="justify-content-between mt-3 text-end Cancel_Save">
          <button class="SaveButton ButtonStyle" >Save Changes</button>
        </div>
        <div class="ChangePass mt-3">Change Password</div>
        <div class="row">
          <div class="col-md-6">
            <span class="Password">
              <input
                type="password"
                name="password"
                placeholder="Enter New Password"
                formControlName="pswd"
                class="Pro_input_Field"
              />
              <div *ngIf="isSubmitted && ProfileFor.controls['pswd'].errors" class="text-danger">
                <div *ngIf="isSubmitted && ProfileFor.controls['pswd'].errors['required']">
                  Password Required
                </div>
              </div>
            </span>
          </div>
          <div class="col-md-6">
            <span class="Password">
              <input
                type="password"
                name="confirmpassword"
                placeholder="Confirm Password"
                formControlName="confirm_password"
                class="Pro_input_Field"
              />
              <div *ngIf="isSubmitted && ProfileFor.controls['confirm_password'].errors" class="text-danger">
                <div *ngIf="isSubmitted && ProfileFor.controls['confirm_password'].errors['required']">
                    Confirm Password Required
                </div>
              </div>
              <div class="text-danger">
                <div *ngIf=" (ProfileFor.value.pswd.length > 0 || ProfileFor.value.confirm_password.length > 0) &&  (ProfileFor.value.confirm_password != ProfileFor.value.pswd) ">
                    Password should match
                </div>
              </div>
            </span>
            <div *ngIf="!isOtpSent" class="justify-content-between mt-3 text-end Cancel_Save">
              <button class="SaveButton ButtonStyle" (click)="sendOTP()">Send OTP <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i></button>
            </div>
          </div>
        </div>
        <div class="row mt-4" >
          
          <div class="col-md-12 mb-3">

            <label>
              <ng-otp-input class="ng-otp-input" (onInputChange)="onOtpChange($event)"

                [config]="{ length: 6, allowNumbersOnly: true, containerClass: 'otp-input-field' }"></ng-otp-input>
                
                <button class="Verify mx-3" (click)="updatePassword()">Change Password</button>
                
                <div class="position-relative d-inline-block">
                  <app-timer [mobileNumber]="phoneNumber" [countryCode]="'+91'" class="app-timer"></app-timer>
                </div>
                <div *ngIf="" class="text-danger">
                  <div *ngIf="otp && otp.length != 6 || otp == null">
                      OTP Should be 6 digit long.
                  </div>
                </div>
            </label>            
          </div>
          <div>
            
            <div class="col-md-12">
              <span>To change password enter OTP Sent to: ********{{phoneNumber!.substr(-2)}}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
