<div class="ContentArea p-5">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="HeadingName">
        <h2>My Profile</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- <div class="ProfilePik">
        <div class="ChangePic">
          <img
            *ngIf="profileData?.profile_image"
            [src]="profileData?.profile_image"
            [alt]="'logo'"
          />
          <img
            [src]="imageSrc"
            [alt]="'logo'"
          />
          <span class="Edit_Img">
            <img (click)="fileInput.click()" src="assets/images/edir-img.png" />
          </span>
        </div>
        <div class="ChangeImg">Change Profile Photo</div>
      </div> -->
      <div class="ProfilePik">
        <div class="driver-profile-image-container">
          <!-- <i
            *ngIf="!(imageSrc.indexOf('profilephoto') > 0)"
            class="fa fa-trash Delete"
            (click)="removeProfilePhoto($event)"
          ></i> -->
          <img
            class="driver-profile-image"
            *ngIf="imageSrc"
            [src]="imageSrc"
            [alt]="'logo'"
            width="100px"
            height="100px"
          />
          <span (click)="fileInput.click()" class="Edit_Img">
            <img
              src="assets/images/edir-img.png"
              width="30px"
              height="30px"
            />
          </span>
        </div>
        <div (click)="fileInput.click()" class="ChangeImg">
          Change Profile Photo
        </div>
      </div>
      <input #fileInput type="file" (change)="readURL($event)" style="display: none" accept="image/*" />
    </div>
    <div class="col-md-9">
      <form [formGroup]="ProfileFor" class="ProfileFor">
        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              name="first_name"
              formControlName="first_name"
              placeholder="First Name"
              class="Pro_input_Field"
            />
            <div *ngIf="isProfileSubmitted && ProfileFor.controls['first_name'].errors" class="text-danger">
              <div *ngIf="isProfileSubmitted && ProfileFor.controls['first_name'].errors['required']">
                First Name Required 
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <input
              type="text"
              formControlName="last_name"
              name="last_name"
              placeholder="Last Name"
              class="Pro_input_Field"
            />
            <div *ngIf="isProfileSubmitted && ProfileFor.controls['last_name'].errors" class="text-danger">
              <div *ngIf="isProfileSubmitted && ProfileFor.controls['last_name'].errors['required']">
                Last Name Required 
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <input type="number" formControlName="phone_number" placeholder="Mobile Number"
              onKeyPress="if(this.value.length==10) return false;" class="Pro_input_Field driver-input-field" />
              <div *ngIf="isProfileSubmitted && ProfileFor.controls['phone_number'].errors" class="text-danger">
                <div *ngIf="isProfileSubmitted && ProfileFor.controls['phone_number'].errors['required']">
                  Phone Number Required 
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name="email"
              formControlName="email"
              placeholder="Email"
              class="Pro_input_Field"
            />
            <div *ngIf="isProfileSubmitted && ProfileFor.controls['email'].errors" class="text-danger">
              <div *ngIf="isProfileSubmitted && ProfileFor.controls['email'].errors['required']">
                Email Required 
              </div>
            </div>
          </div>
        </div>
        <div class="justify-content-between mt-3 text-end Cancel_Save">
          <button (click)="saveChanges()" class="SaveButton ButtonStyle" >Save Changes</button>
        </div>
        <div class="ChangePass mt-3">Change Password</div>
        <div class="row">
          <div class="col-md-6">
            <span class="Password">
              <input
                type="password"
                name="password"
                placeholder="Enter New Password"
                formControlName="pswd"
                class="Pro_input_Field"
              />
              <div *ngIf="isSubmitted && ProfileFor.controls['pswd'].errors" class="text-danger">
                <div *ngIf="isSubmitted && ProfileFor.controls['pswd'].errors['required']">
                  Password Required 
                </div>
              </div>
              <div *ngIf="isSubmitted" class="text-danger">
                <div *ngIf="ProfileFor.value.pswd?.length < 6">
                 Password must contain at least 6 or more characters
                </div>
              </div>
            </span>
          </div>
          <div class="col-md-6">
            <span class="Password">
              <input
                type="password"
                name="confirmpassword"
                placeholder="Confirm Password"
                formControlName="confirm_password"
                class="Pro_input_Field"
              />
              <div *ngIf="isSubmitted && ProfileFor.controls['confirm_password'].errors" class="text-danger">
                <div *ngIf="isSubmitted && ProfileFor.controls['confirm_password'].errors['required']">
                    Confirm Password Required
                </div>
              </div>
              <div class="text-danger">
                <div *ngIf=" (ProfileFor.value.pswd.length > 0 || ProfileFor.value.confirm_password.length > 0) &&  (ProfileFor.value.confirm_password != ProfileFor.value.pswd) ">
                    Password should match
                </div>
              </div>
            </span>
            <div *ngIf="!isOtpSent" class="justify-content-between mt-3 text-end Cancel_Save">
              <button class="SaveButton ButtonStyle" (click)="sendOTP()">Send OTP <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i></button>
            </div>
          </div>
        </div>
        <div class="row mt-4" *ngIf="isOtpSent">
          
          <div class="col-md-12 mb-3">

            <label>
              <ng-otp-input class="ng-otp-input" (onInputChange)="onOtpChange($event)"

                [config]="{ length: 6, allowNumbersOnly: true, containerClass: 'otp-input-field' }"></ng-otp-input>
                
                <button class="Verify mx-3" (click)="updatePassword()">Change Password</button>
                
                <div class="position-relative d-inline-block">
                  <app-timer [mobileNumber]="phone_number" [countryCode]="'+91'" class="app-timer"></app-timer>
                </div>
                <div *ngIf="otpSubmitted" class="text-danger">
                  <div *ngIf="otp && otp.length != 6 || otp == null">
                      OTP Should be 6 digit long.
                  </div>
                </div>
            </label>            
          </div>
          <div>
            
            <div class="col-md-12">
              <span>To change password enter OTP Sent to: ********{{phone_number!.substr(-2)}}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
