<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="Table">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder">Add Order</span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="from-to-pick">
                <div class="from-to-pick-inner">
                  <div class="Pickup-title">
                    <span class="DeliveryTo">
                      Pickup <strong>From</strong>
                    </span>
                    <span class="DeliveryTo">
                      <strong>PO#</strong>
                      <span class="Number">12345679890125</span>
                    </span>
                  </div>
                  <div class="form-div">
                    <form
                      [formGroup]="addOrderF"
                      class="Form-Form"
                      enctype="multipart/form-data"
                    >
                      <div class="row">
                        <div class="col-md-12">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Company Name"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Company Address"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Date"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Time"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="filed-input">
                            <button class="ButtonStyle">Add Address</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Contact Name"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Email"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Phone"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Alternate Phone"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="filed-input">
                            <textarea
                              placeholder="Note"
                              class="CompanyField TextareaField"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="from-to-pick">
                <div class="from-to-pick-inner">
                  <div class="Pickup-title">
                    <span class="DeliveryTo">
                      Delivery <strong>TOP</strong>
                    </span>
                    <span class="DeliveryTo">
                      <strong>Order#</strong>
                      <span class="Number">12345679890125</span>
                    </span>
                  </div>
                  <div class="form-div">
                    <form class="Form-Form">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Company Name"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Company Address"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Date"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Time"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="filed-input">
                            <button class="ButtonStyle">Add Address</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Contact Name"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Email"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Phone"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Alternate Phone"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="filed-input">
                            <select class="CompanyField">
                              <option>Service Leval</option>
                              <option>01</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <select class="CompanyField">
                              <option>Delivery Type</option>
                              <option>01</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="filed-input">
                            <textarea
                              placeholder="Note"
                              class="CompanyField"
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-md-4 jus">
                          <div class="filed-input">
                            <button class="ButtonStyle">Add Address</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
