.country-addorder{
    padding: 0px ;
}
.TextareaField{
    height: 150px !important;
}
.input-disabled{
    background: lightgray;
    pointer-events: none;
}
.pickup-country{
    position: absolute;
    height: 38px;
    top: 6%;
    line-height: 40px;
    width: 79%;
    left: 0;
    vertical-align: middle;
    background: white;
    text-align: center;
}
.notes-msg{
    text-align: right;
    color: gray;
}
.add-address{
    min-width: auto !important;
}
.remove-time{
    position: absolute;
    left: calc(100% - 55px);
    font-size: 18px;
    top: 25%;
    cursor: pointer;
}