<!-- Side Bar -->
<section class="LoginSection" @fade1
(@fade1.start)="isLoggedIn = false"
(@fade1.done)="isLoggedIn = false"
<section
  class="LoginSection"
  @fade1
  (@fade1.start)="isLoggedIn = false"
  (@fade1.done)="isLoggedIn = false"
>
  <div class="container">
    <div class="row">
      <!-- Login Side -->
      <div class="col-md-5">
        <div class="login-form">
          <div class="LoginTitle">
            <h2 class="TitleHeading">Login</h2>
            <span class="SubHeading">Value Your Customers Time</span>
          </div>
          <form
            [formGroup]="prelogin"
            (ngSubmit)="handleSubmit()"
            class="LoginForm mt-5"
          >
            <div class="CustomField">
              <label>
                <input type="text" formControlName="username" />
                <span class="LabelT">Enter Email Address</span>
              </label>
            </div>
            <div class="text-danger CustomErr">
              <div *ngIf="isSubmitted && f['username'].errors">
                <div *ngIf="f['username'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="f['username'].errors['email']">
                  Email is not valid
                </div>
              </div>
            </div>
            <div class="CustomField loginButton mt-4">
              <button type="submit">
                Login <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-1"></div>
      <!-- Login Side /////////////////// -->
      <div class="col-md-6 mt-5">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>
<!-- Side Bar /////////////////// -->
