<!-- Side Bar -->
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <!-- Side Bar -->
            <div class="col-md-3 width20">
                <div class="SideBar">
                    <div class="LogoDiv">
                        <a href="#!"><img src="assets/images/logo.png"></a>
                    </div>
                    <ul class="SideBarList">
                        <li class="active"><a href="#!"><img
                                    src="assets/images/super-super-icon101.png"><span>Company</span></a></li>
                        <li><a href="#!"><img src="assets/images/super-super-icon01.png"><span>Order
                                    Company</span></a></li>
                        <li><a href="#!"><img src="assets/images/super-super-icon02.png"><span>Tickets</span></a>
                        </li>
                        <li><a href="#!"><img src="assets/images/super-super-icon03.png"><span>Add Plan</span></a>
                        </li>
                        <li><a href="#!"><img src="assets/images/super-super-icon04.png"><span>Report</span></a>
                        </li>
                        <li><a href="#!"><img src="assets/images/super-super-icon05.png"><span>Profile</span></a>
                        </li>
                        <li><a href="#!"><img src="assets/images/super-super-icon06.png"><span>Setting</span></a>
                        </li>
                    </ul>
                    <div class="LogoutDiv">
                        <ul class="SideBarList">
                            <li><a href="#!">
                                    <img src="assets/images/logout-icon.png">
                                    <span>Logout</span></a>
                            </li>
                            <li class="NextPreview">
                                <span class="NextTab">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </span>
                                <span class="PreviewTab">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Side Bar /////////// -->
            <div class="col-md-9 width80">
                <div class="row mb-5">
                    <!-- Search Bar -->
                    <div class="col-md-5">
                        <div class="SearchDivInner">
                            <div class="SearchDiv">
                                <form class="SearchForm">
                                    <span class="SearchIcon"><i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="text" placeholder="Search" class="InPutField">
                                    </span>
                                    <button class="ButtonIcon">
                                        <img src="assets/images/searchicon.png">
                                    </button>
                                </form>
                            </div>
                            <!-- Search Box -->
                            <form class="SearchContentForm">
                                <div class="SearchContent">
                                    <div class="SearchOrder">
                                        <span class="searchTitle">Search by Order</span>
                                        <span class="Cross">
                                            <img src="assets/images/closeimg.png" />
                                        </span>
                                    </div>
                                    <ul class="OrderTracking">
                                        <li>
                                            <label><img src="assets/images/search-icon01.png" />
                                                <input type="text" name="" placeholder="Enter Tracking/Order Number"
                                                    class="InPutField_S"></label>
                                        </li>
                                        <li>
                                            <span class="searchTitle">Search by Order</span>
                                            <label><img src="assets/images/search-icon02.png" />
                                                <input type="text" name="" placeholder="Enter Tracking/Order Number"
                                                    class="InPutField_S"></label>
                                        </li>
                                        <li>
                                            <label><img src="assets/images/search-icon03.png" />
                                                <input type="text" name="" placeholder="Enter Tracking/Order Number"
                                                    class="InPutField_S"></label>
                                        </li>
                                    </ul>
                                    <div class="SearchButton">
                                        <button class="ButtonStyle">Search</button>
                                    </div>
                                </div>
                            </form>
                            <!-- Search Box /////////// -->
                        </div>
                    </div>
                    <!-- Search Bar /////////// -->
                    <div class="col-md-7">
                        <div class="MyPlan">
                            <div class="MyPlanList">
                                <ul>
                                    <li class="BookMark">
                                        <img src="assets/images/sper-top-icon01.png" />
                                        <span>Bookmarked Companies</span>
                                    </li>
                                    <li class="BookMark_Title">
                                        <div class="IconImg">
                                            <img src="assets/images/sper-top-icon02.png" />
                                            <span class="">Gold Plan</span>
                                        </div>
                                        <span class="__Plan GoldPlan">120 User</span>
                                    </li>
                                    <li class="BookMark_Title">
                                        <div class="IconImg">
                                            <img src="assets/images/sper-top-icon03.png" />
                                            <span class="">Silver Plan</span>
                                        </div>
                                        <span class="__Plan SilverPlan">120 User</span>
                                    </li>
                                    <li class="BookMark_Title">
                                        <div class="IconImg">
                                            <img src="assets/images/sper-top-icon04.png" />
                                            <span class="">Bronze Plan</span>
                                        </div>
                                        <span class="__Plan BronzePlan">120 User</span>
                                    </li>
                                    <li class="Tickets_Notification">
                                        <div class="IconImg">
                                            <img src="assets/images/top-icon05.png" />
                                            <span>Tickets</span>
                                        </div>
                                        <div class="IconImg">
                                            <img src="assets/images/top-icon07.png" />
                                            <span>Notification</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ContentArea no-padding">
                            <div class="row">
                                <div class="TabsList">
                                    <ul class="Tab_List">
                                        <li class="active">
                                            <a href="#!">All 120</a>
                                        </li>
                                        <li>
                                            <a href="#!">Weekly 20</a>
                                        </li>
                                        <li class="MonthlyTab">
                                            <a href="#!">Monthly 120</a>
                                        </li>
                                        <li class="YearlyTab">
                                            <a href="#!">Yearly 120</a>
                                        </li>
                                        <li class="MonthlyTab">
                                            <a href="#!">Custom</a>
                                        </li>
                                        <li>
                                            <a href="#!">Deactivated Companies</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="FilterTab FilterTabHome">
                                        <a href="#!">
                                            <span>Filter</span>
                                            <img src="assets/images/filter-icon.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ContentArea_Inner">
                                <div class="ConpanyDetail home-filter mb-5">
                                    <div class="row pb-1">
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans">
                                                    <img src="assets/images/sper-top-icon02.png">
                                                    <span class="IconHeading">Gold Plan</span>
                                                    <span class="__Plan GoldPlan">
                                                        24 Days Left for plan renewal
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans __Silver">
                                                    <img src="assets/images/sper-top-icon03.png">
                                                    <span class="IconHeading">Silver Plan</span>
                                                    <span class="__Plan GoldPlan">
                                                        24 Days Left for plan renewal
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans __Bronze">
                                                    <img src="assets/images/sper-top-icon04.png">
                                                    <span class="IconHeading">Bronze Plan</span>
                                                    <span class="__Plan GoldPlan">
                                                        24 Days Left for plan renewal
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="Company_Detail_cnt Company_Detail_cnt02">
                                            <li>
                                                <div class="IconImgSet Starworld">
                                                    <img src="assets/images/profilephoto.png">
                                                    <span class="IconHeading">Starworld Sipping Pvt. Ltd
                                                        <span class="SurName">Dummy Text</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="IconImgSet DayPlans __Bronze">
                                                    <img src="assets/images/sper-top-icon02.png">
                                                    <span class="IconHeading">Gold Plan</span>
                                                    <span class="__Plan GoldPlan Deactivated">
                                                        Deactivated
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="BookMarkCnt">
                                                    <ul>
                                                        <li>
                                                            <i class="fa fa-paper-plane"></i>
                                                            <span>Send Notification</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <span>Call</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-envelope"></i>
                                                            <span>Email</span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <span>Bookmark</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#!">
                                                    <img src="assets/images/round-arrow.png">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Side Bar /////////////////// -->