<div class="ContentArea no-padding">
  <div class="ContentArea_Inner">
    <div class="mx-3">
      <div class="SearchFilter gap-13px">
        <div class="action-btns">
          <a class="slected-count">{{ selectedDriversCount }} Selected</a>
          <a class="select-all-dl" (click)="selectAll()">Select All </a>
          <a class="deselect-all-dl" (click)="deSelectAll()">Deselect All</a>
          <a
            class="drivers-list-delete"
            [ngClass]="selectedDriversCount > 0 ? '' : 'pe-none'"
          >
            <span (click)="onClickDeleteDriverDialog($event)"
              >Delete <img src="../../../../assets/images/delete.jpg"
            /></span>
            <div
              *ngIf="isShowDeleteDriverDialog"
              class="drivers-list-delete-dialog"
            >
              <div class="delete-drivers">Delete Drivers</div>
              <div class="confirmation-msg">
                <div class="row">
                  <div class="col-9">
                    Are you sure you want to delete drivers ?
                  </div>
                  <div class="col-3">
                    <img
                      src="../../../../assets/images/big-delete.jpg"
                      width="63px"
                    />
                  </div>
                </div>
              </div>
              <div class="text-center px-4">
                <button
                  class="ButtonStyle cancel-btn float-start"
                  (click)="onClickDeleteDriverDialog($event)"
                >
                  Cancel
                </button>
                <button class="ButtonStyle float-end">Delete Driver</button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="Table mt-4">
        <div class="OrderList">
          <div class="row mt-3">
            <div class="Table_Scroll">
              <table
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <th>S.No</th>
                  <th>Warehouse Name</th>
                  <th>Address</th>
                  <th>Contact Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Alternative Phone</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let item of warehouseData; let index = index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.warehouse_name }}</td>
                  <td>{{ item?.address?.address }}</td>
                  <td>{{ item.contact_name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.alt_phone }}</td>
                  <td>
                    <div class="GetIocn">
                      <!-- <input
                        class="head-driver mx-2"
                        type="checkbox"
                        [checked]="item.checked"
                        (change)="changeStatus(item.id, item.checked)"
                      /> -->
                      <input
                        type="checkbox"
                        [value]="item.is_main_localation"
                        [checked]="item.is_main_localation"
                        (change)="controlOnChange(item.id, $event)"
                      />
                      <a routerLink="/admin/warehouse/{{ item.id }}">
                        <i class="fa fa-pencil EditIcon"></i>
                      </a>
                      <!-- <label
                        class="switch"
                        (click)="openDialog('250ms', '250ms')"
                      >
                        <input
                          type="checkbox"
                          disabled
                          [checked]="isDefaultAddress"
                        />
                        <span class="slider round"></span>
                      </label> -->
                      <a (click)="warehouseDelete(item.id)">
                        <i class="fa fa-trash Delete"></i>
                        <i
                          class="fa fa-spinner fa-spin"
                          *ngIf="delloading && toggle[item.id]"
                        ></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="row mt-3">
              <div class="col-md-12 text-end">
                <button routerLink="/admin/warehouse/add" class="ButtonStyle">
                  Add Warehouse
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
<div
  *ngIf="isShowDeleteDriverDialog"
  (click)="onClickDeleteDriverDialog($event)"
  class="overlay"
></div>
