<div class="SideBar" *ngIf="isRoleIn == 1">
  <div class="LogoDiv">
    <a routerLink="/{{ _isRoleName }}/dashboard"
      ><img src="assets/images/logo.png"
    /></a>
  </div>
  <ul class="SideBarList">
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/dashboard"
        ><img src="assets/images/super-super-icon101.png" /><span
          >Companies</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/company/add"
        ><img src="assets/images/super-super-icon01.png" /><span
          >Add Company</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/plans"
        ><img src="assets/images/super-super-icon04.png" /><span>Plans</span></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/report"
        ><img src="assets/images/super-super-icon04.png" /><span
          >Report</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/tickets"
        ><img src="assets/images/super-super-icon02.png" /><span
          >Tickets</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/profile"
        ><img src="assets/images/super-super-icon05.png" /><span
          >Profile</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/setting"
        ><img src="assets/images/super-super-icon06.png" /><span
          >Setting</span
        ></a
      >
    </li>
  </ul>
  <div class="LogoutDiv">
    <ul class="SideBarList">
      <li>
        <a (click)="doLogout()">
          <img src="assets/images/logout-icon.png" />
          <span>Logout</span></a
        >
      </li>
      <li class="NextPreview">
        <span class="NextTab">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        <span class="PreviewTab">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="SideBar" *ngIf="isRoleIn == 2">
  <div class="LogoDiv">
    <a routerLink="/{{ _isRoleName }}/dashboard"
      ><img src="assets/images/logo.png"
    /></a>
  </div>
  <ul class="SideBarList">
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/dashboard"
        ><img src="assets/images/super-super-icon101.png" /><span
          >Order</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/orders/add"
        ><img src="assets/images/super-super-icon01.png" /><span
          >Add Order</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/tickets"
        ><img src="assets/images/super-super-icon02.png" /><span
          >Tickets</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/warehouses"
        ><img src="assets/images/super-super-icon02.png" /><span
          >Warehouses</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/warehouse/add"
        ><img src="assets/images/super-super-icon02.png" /><span
          >Warehouse Add</span
        ></a
      >
    </li>

    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/addresses"
        ><img src="assets/images/super-super-icon02.png" /><span
          >Addresses</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/address/add"
        ><img src="assets/images/super-super-icon02.png" /><span
          >Address Add</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/profile"
        ><img src="assets/images/super-super-icon05.png" /><span
          >Profile</span
        ></a
      >
    </li>
    <li [routerLinkActive]="['active']">
      <a routerLink="/{{ _isRoleName }}/setting"
        ><img src="assets/images/super-super-icon06.png" /><span
          >Setting</span
        ></a
      >
    </li>
  </ul>
  <div class="LogoutDiv">
    <ul class="SideBarList">
      <li>
        <a (click)="doLogout()">
          <img src="assets/images/logout-icon.png" />
          <span>Logout</span></a
        >
      </li>
      <li class="NextPreview">
        <span class="NextTab">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
        <span class="PreviewTab">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </li>
    </ul>
  </div>
</div>
