<div class="row mb-5">
    <!-- Search Bar -->
    <div class="col-md-4">
        <div class="SearchDivInner">
            <div class="SearchDiv">
                <form class="SearchForm">
                    <span class="SearchIcon"><i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" placeholder="Search" class="InPutField">
                    </span>
                    <button class="ButtonIcon">
                        <img src="assets/images/searchicon.png">
                    </button>
                </form>
            </div>
            <!-- Search Box -->
            <form class="SearchContentForm">
                <div class="SearchContent">
                    <div class="SearchOrder">
                        <span class="searchTitle">Search by Order</span>
                        <span class="Cross">
                            <img src="assets/images/closeimg.png" />
                        </span>
                    </div>
                    <ul class="OrderTracking">
                        <li>
                            <label><img src="assets/images/search-icon01.png" />
                                <input type="text" name="" placeholder="Enter Tracking/Order Number"
                                    class="InPutField_S"></label>
                        </li>
                        <li>
                            <span class="searchTitle">Search by Order</span>
                            <label><img src="assets/images/search-icon02.png" />
                                <input type="text" name="" placeholder="Enter Tracking/Order Number"
                                    class="InPutField_S"></label>
                        </li>
                        <li>
                            <label><img src="assets/images/search-icon03.png" />
                                <input type="text" name="" placeholder="Enter Tracking/Order Number"
                                    class="InPutField_S"></label>
                        </li>
                    </ul>
                    <div class="SearchButton">
                        <button class="ButtonStyle">Search</button>
                    </div>
                </div>
            </form>
            <!-- Search Box /////////// -->
        </div>
    </div>
    <!-- Search Bar /////////// -->
    <div class="col-md-8">
        <div class="MyPlan">
            <div class="MyPlanList">
                <ul>
                    <li class="BookMark_Title">
                        <div class="IconImg">
                            <img src="assets/images/sper-top-icon01.png" />
                            <span class="">Bookmarked</span>
                        </div>
                        <span class="__Plan GoldPlan">Companies</span>
                    </li>
                    <li class="BookMark_Title">
                        <div class="IconImg">
                            <img src="assets/images/sper-top-icon02.png" />
                            <span class="">Gold Plan</span>
                        </div>
                        <span class="__Plan GoldPlan">120 User</span>
                    </li>
                    <li class="BookMark_Title">
                        <div class="IconImg">
                            <img src="assets/images/sper-top-icon03.png" />
                            <span class="">Silver Plan</span>
                        </div>
                        <span class="__Plan SilverPlan">120 User</span>
                    </li>
                    <li class="BookMark_Title">
                        <div class="IconImg">
                            <img src="assets/images/sper-top-icon04.png" />
                            <span class="">Bronze Plan</span>
                        </div>
                        <span class="__Plan BronzePlan">120 User</span>
                    </li>
                    <li class="Tickets_Notification">
                        <div class="IconImg">
                            <img src="assets/images/top-icon05.png" />
                            <span>Tickets</span>
                        </div>
                        <div class="IconImg">
                            <img src="assets/images/top-icon07.png" />
                            <span>Notification</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>