<div class="ContentArea">
    <div class="ContentArea_Inner">
        <!-- Tab Content Area Start 01-->
        <div id="Tb-Tabs01" class="Tabs01 TabsMain">
            <div class="back-to-list">
                <a routerLink="/admin/driver"><button>Back to List</button></a>
            </div>
            <!-- Table View -->
            <div class="Table AssociateDriver">
                <div class="OrderList">
                    <div class="row">
                        <div class="col-md-12 Oreder">
                            <span class="RecentTitle AddOrder">Associate Driver </span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <div class="ProfilePik">
                                <div class="ChangePic NoPhoto position-relative"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                    <span class="percentage">90%</span>
                                    <img [src]="editDriverForm.value.profile_img">
                                </div>
                                <div class="ChangeImg NoPhoto mt-2">
                                    <p class="m-0 driver-name">{{editDriverForm.value.first_name+" "+editDriverForm.value.last_name}}</p>
                                    <p>Joined On: {{editDriverForm.value.date_joined | date}}</p>
                                </div>
                                <div class="ChangePic NoPhoto mt-4 google-map">
                                    Google Map Location
                                </div>
                                <div class="TrackDriver mt-3">
                                    <a > Track Driver</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <form class="ProfileFor" [formGroup]="editDriverForm">
                                <div class="row">
                                    <!-- Popup Box -->
                                    <div class="CardPopup py-0">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <table class="__TodayOrder">
                                                    <tr>
                                                        <td class="px-0">
                                                            Driver Status: {{editDriverForm.value.is_active ? 'ACTIVE':'INACTIVE'}}
                                                            <label class="switch">
                                                                <input type="checkbox" (click)="toggleStatus(editDriverForm.value.is_active)" formControlName="is_active">
                                                                <span class="slider round"></span>
                                                              </label>
                                                        </td>
                                                        <td  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                            Head Driver: <input
                                                            class="head-driver mx-2"
                                                            type="checkbox"
                                                            formControlName="is_head_driver"
                                                          />

                                                        </td>
                                                        <td class="px-0 float-end">
                                                            <span (click)="edit()" class="mx-3">Edit <i
                                                                    class="fa fa-pencil action-icon"></i></span>
                                                            <span (click)="deleteDriver()">Delete <i
                                                                    class="fa fa-trash action-icon"></i></span>
                                                            <span class="mx-3 cursor-pointer" (click)="showRecentNotifications()">Recent Notifications <i class="fa fa-bell mx-2" aria-hidden="true"></i></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="TodayOrder mt-4">
                                                    <tr>
                                                        <td>Today's Order: 0</td>
                                                        <td>Pending: 0</td>
                                                        <td>Successful: 0</td>
                                                        <td>UnSuccessful: 0</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                    formControlName="first_name"
                                                        placeholder="First Name"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        formControlName="last_name"
                                                        placeholder="Last Name"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>

                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="number" name=""
                                                        placeholder="Mobile Number"
                                                        formControlName="phone_number"
                                                        class="Pro_input_Field driver-input-field"
                                                        onKeyPress="if(this.value.length==10) return false;">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        formControlName="email"
                                                        placeholder="Email"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4" >
                                                <span class="Password FileUpload">
                                                    <strong>Address:</strong>
                                                    <span>{{editDriverForm.value.address}}</span>
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label for="Documents"
                                                    class="Password FileUpload">
                                                    <strong>Upload Documents:</strong>
                                                    <br>
                                                    <a href="{{certificate.image}}" target="_blank" download="{{certificate.doc_name}}" class="uploaded-documenst mx-1 cursor-pointer" *ngFor="let certificate of editDriverForm.value.certificates; let index=index">
                                                        <i class="fa-light fa-file"></i>
                                                        <i class='fa fa-paperclip fa-paperclip-vertical' style="color: #0eb002"></i>
                                                        <span style="font-size: 12px;">img{{index+1}}</span>
                                                    </a>

                                                    <input type="file" name=""
                                                        placeholder="Email"
                                                        class="Pro_input_Field"
                                                        id="Documents">
                                                </label>
                                            </div>
                                            <div class="col-md-6 mb-4" [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        placeholder="Vehicle Number"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        placeholder="Vehicle Type"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-12 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password FileUpload">
                                                    <strong>Vehicle Documents:</strong>
                                                </span>
                                            </div>
                                            <div class="col-md-12 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <label><strong>Title:</strong></label>
                                                <span class="Password">
                                                    <textarea class="HelpArea">
                                                    Custom Message /Push Notification message
                                                </textarea>
                                                </span>
                                            </div>

                                            <div
                                                class="text-end mt-4 Cancel_Save my-3">
                                                <button style="float: left;" (click)="updateDriverStatus()" [disabled]="!isEnabledSave" class="SaveButton ButtonStyle">Update <i
                                                    class="fa fa-spinner fa-spin"
                                                    *ngIf="delloading"
                                                  ></i></button>
                                                <button class="SaveButton ButtonStyle">Send
                                                    Push Notification</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Popup Box ///////// -->
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 recent-notifications" *ngIf="isShowRecentNotifications">
                            <img class="cancel" src="../../assets/images/cancel.jpg" (click)="closeRecentNotifications()">
                            <div class="Recente__Noti mt-4 pt-4">
                                <span class="Recent__">
                                    <a  class="active">Recent Trip History</a>
                                    <a >Recent Notification</a>
                                </span>
                                <span class="view__all">
                                    <a >View All <img
                                            src="assets/images/filter-icon.png"></a>
                                </span>
                            </div>
                             <div class="mt-4 PacelId">
                                No Recent Trip History
                            </div>
                            <!-- <div class="PacelId mt-4">
                                <ul>
                                    <li>
                                        <span class="Parcel_T">Parcel ID 001199001199 <span
                                                class="min-ago">58 min ago</span></span>
                                        <div class="AddressTitle">
                                            <img src="assets/images/d-icon.png">
                                            <p>
                                                Delivered To: Sandeep Singh
                                                <span>Addrees: 012, XYZ, Dummy text</span>
                                                <span class="InfoHere">Any other info
                                                    here</span>
                                                <button class="ViewButton">View</button>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="Parcel_T">Parcel ID 001199001199 <span
                                                class="min-ago">58 min ago</span></span>
                                        <div class="AddressTitle">
                                            <img src="assets/images/d-icon.png">
                                            <p>
                                                Delivered To: Sandeep Singh
                                                <span>Addrees: 012, XYZ, Dummy text</span>
                                                <span class="InfoHere">Any other info
                                                    here</span>
                                                <button class="ViewButton">View</button>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="Parcel_T">Parcel ID 001199001199 <span
                                                class="min-ago">58 min ago</span></span>
                                        <div class="AddressTitle">
                                            <img src="assets/images/d-icon.png">
                                            <p>
                                                Delivered To: Sandeep Singh
                                                <span>Addrees: 012, XYZ, Dummy text</span>
                                                <span class="InfoHere">Any other info
                                                    here</span>
                                                <button class="ViewButton">View</button>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="Parcel_T">Parcel ID 001199001199 <span
                                                class="min-ago">58 min ago</span></span>
                                        <div class="AddressTitle">
                                            <img src="assets/images/d-icon.png">
                                            <p>
                                                Delivered To: Sandeep Singh
                                                <span>Addrees: 012, XYZ, Dummy text</span>
                                                <span class="InfoHere">Any other info
                                                    here</span>
                                                <button class="ViewButton">View</button>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="Parcel_T">Parcel ID 001199001199 <span
                                                class="min-ago">58 min ago</span></span>
                                        <div class="AddressTitle">
                                            <img src="assets/images/d-icon.png">
                                            <p>
                                                Delivered To: Sandeep Singh
                                                <span>Addrees: 012, XYZ, Dummy text</span>
                                                <span class="InfoHere">Any other info
                                                    here</span>
                                                <button class="ViewButton">View</button>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table View /////////// -->
        </div>
        <!-- Tab Content Area Start /////////// 01 -->
    </div>
</div>
