.driver-name{
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  .percentage{
    font-size: 14px;
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  .google-map{
    color: #646464 !important;
    padding: 20px 20px 20px !important;
    border: 1px solid lightgray !important;
    border-radius: 25px !important;

  }

  .google-map .map-container{
    height: 75px;
  }
  .rtt-checkbox[type=checkbox] {
    position: relative;
    cursor: pointer;
  }
  .rtt-checkbox[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
  }
  .rtt-checkbox[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
  }
  .action-icon{
    font-size: 14px !important;
  }
  .Pro_input_Field:focus , .Address:focus{
    border: 2px solid #0eb002;
}
.Recente__Noti a{
    padding: 0px;
}
.back-to-list{
    margin-left: auto;
}
input.Pro_input_Field {
  height: 46px;
  font-weight: 400;
}
.uploaded-documenst{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.fa-file{
  font-size: 22px;
  color: #0eb002;
}
.fa-paperclip{
  color: #0eb002;
  position: absolute;
  left: 2px;
  top: 5px;
}
.view-mode{
  pointer-events: none;
}
.notes-msg{
  text-align: right;
  color: gray;
  float: right;
}
.driver-details-profilepic{
  width: 100%;
    max-width: 100%;
    padding: 20px;
}
.send{
  width: 24px;
  margin-top: -5px;
}
.todays-order-btn{
  background: #aedff6;
  min-width: 150px;
  width: 150px;
}
.dt-pending-btn{
  background: rgb(255, 176, 0,0.3);
  min-width: 150px;
  width: 150px;
}
.dt-successful-btn{
  background: rgb(14, 176, 2,0.3);
  /* opacity: 0.5; */
  min-width: 150px;
  width: 150px;
}
.dt-unsuccessful-btn{
  background: rgba(223, 37, 37,0.3);
  min-width: 150px;
  width: 150px;
}

