<div class="ContentArea">
    <div class="ContentArea_Inner">
        <!-- Tab Content Area Start 01-->
        <div id="Tb-Tabs01" class="Tabs01 TabsMain">
            <div class="back-to-list">
                <a routerLink="/admin/driver"><button>Back to List</button></a>
            </div>
            <!-- Table View -->
            <div class="Table AssociateDriver">
                <div class="OrderList">
                    <div class="row">
                        <div class="col-md-12 Oreder">
                            <span *ngIf="!editDriverForm.value.is_head_driver" class="RecentTitle AddOrder">Associate Driver </span>
                            <span *ngIf="editDriverForm.value.is_head_driver" class="RecentTitle AddOrder">Head Driver </span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-2">
                            <div class="ProfilePik">
                                <div class="ChangePic NoPhoto p-0 position-relative"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                    <span class="percentage">90%</span>
                                    <img class="driver-details-profilepic" [src]="editDriverForm.value.profile_img">
                                </div>
                                <div class="ChangeImg NoPhoto mt-2">
                                    <p class="m-0 driver-name">{{editDriverForm.value.first_name+" "+editDriverForm.value.last_name}} <span *ngIf="editDriverForm.value.is_head_driver">(HD)</span></p>
                                    <p>Joined On: {{editDriverForm.value.date_joined | date}}</p>
                                </div>
                                <div class=" NoPhoto mt-4 google-map">
                                    
                                    <app-reusable-google-map></app-reusable-google-map>
                                </div>
                                <div class="TrackDriver mt-3" (click)="trackDriver()">
                                    <a > Track Driver</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <form class="ProfileFor" [formGroup]="editDriverForm">
                                <div class="row">
                                    <!-- Popup Box -->
                                    <div class="CardPopup py-0">
                                        <div class="row">
                                            <div class="col-md-12 mb-4">
                                                <table class="__TodayOrder">
                                                    <tr>
                                                        <td class="px-0">
                                                            Driver Status: {{editDriverForm.value.is_active ? 'ACTIVE':'INACTIVE'}}
                                                            <label class="switch">
                                                                <input type="checkbox" (click)="toggleStatus(editDriverForm.value.is_active)" formControlName="is_active">
                                                                <span class="slider round"></span>
                                                              </label>
                                                        </td>
                                                        <!-- <td  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                            Head Driver: <input
                                                            class="head-driver mx-2"
                                                            type="checkbox"
                                                            formControlName="is_head_driver"
                                                          />

                                                        </td> -->
                                                        <td class="px-0 float-end">
                                                            <span (click)="edit()" class="mx-3 cursor-pointer realtime-btn">Edit <i
                                                                    class="fa fa-pencil action-icon"></i></span>
                                                            <span (click)="deleteDriver()" class="cursor-pointer realtime-btn">Delete <i
                                                                    class="fa fa-trash action-icon"></i></span>
                                                            <span class="mx-3 cursor-pointer realtime-btn" (click)="showRecentNotifications()">Recent Notifications <i class="fa fa-bell mx-2" aria-hidden="true"></i></span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="TodayOrder mt-4">
                                                    <tr>
                                                        <td><span class="cursor-pointer" (click)="showOrdersList('today')">Today's Order: {{todayOrderCount}}</span></td>
                                                        <td><span class="cursor-pointer" (click)="showOrdersList('pending')">Pending: {{pendingOrderCount}}</span></td>
                                                        <td><span class="cursor-pointer" (click)="showOrdersList('successful')">Successful: {{successfullOrderCount}}</span></td>
                                                        <td><span class="cursor-pointer" (click)="showOrdersList('unsuccessful')">UnSuccessful: {{unSuccessfullOrderCount}}</span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                    formControlName="first_name"
                                                        placeholder="First Name"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        formControlName="last_name"
                                                        placeholder="Last Name"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>

                                            <div class="col-md-6 mb-4">
                                                <span class="Password">
                                                            <input
                                                              type="text"
                                                              name=""
                                                              style="pointer-events: none;"
                                                              formControlName="phone_number"
                                                              class="Pro_input_Field driver-input-field"
                                                              
                                                            />
                                                            <i (click)="copyText(editDriverForm.value.phone_number)" class="fa-solid fa-copy order-details-copy"></i>
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        formControlName="email"
                                                        placeholder="Email"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4" >
                                                <span class="Password FileUpload">
                                                    <strong>Address:</strong>
                                                    <span>{{editDriverForm.value.address}}</span>
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label for="Documents"
                                                    class="Password FileUpload">
                                                    <strong>Uploaded Documents:</strong>
                                                    <br>
                                                    <a href="{{certificate.image}}" target="_blank" download="{{certificate.doc_name}}" class="uploaded-documenst mx-1 cursor-pointer" *ngFor="let certificate of editDriverForm.value.certificates; let index=index">
                                                        <i class="fa-light fa-file"></i>
                                                        <i class='fa fa-paperclip fa-paperclip-vertical' style="color: #0eb002"></i>
                                                        <span style="font-size: 12px;">img{{index+1}}</span>
                                                    </a>

                                                    <input type="file" name=""
                                                        placeholder="Email"
                                                        class="Pro_input_Field"
                                                        id="Documents">
                                                </label>
                                            </div>
                                            <!-- <div class="col-md-6 mb-4" [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        placeholder="Vehicle Number"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <span class="Password">
                                                    <input type="text" name=""
                                                        placeholder="Vehicle Type"
                                                        class="Pro_input_Field">
                                                </span>
                                            </div> -->
                                            <div class="col-md-12 mb-4"  [ngClass]="!isEditMode? 'view-mode' : ''">
                                                <span class="Password FileUpload">
                                                    <strong>Vehicle Documents:</strong>
                                                </span>
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                <label><strong>Title:</strong></label>
                                                <span class="Password">
                                                    <textarea class="HelpArea" maxlength="500" placeholder="Custome Message/Push Notification" style="height: 150px"
                                                        formControlName="push_notification">
                                                    </textarea>
                                                    <div class="notes-msg">{{500 - editDriverForm.value.push_notification.length}}/500</div>

                                                    <div *ngIf="isSubmitted && editDriverForm.controls.push_notification.errors" class="text-danger">
                                                        <div *ngIf="isSubmitted && editDriverForm.controls.push_notification.errors['required']">
                                                            Custome Message/Push Notification is required
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>

                                            <div
                                                class="text-end mt-4 Cancel_Save my-3">
                                                <!-- <button style="float: left;" (click)="updateDriverStatus()" [disabled]="!isEnabledSave" class="SaveButton ButtonStyle">Update <i
                                                    class="fa fa-spinner fa-spin"
                                                    *ngIf="delloading"
                                                  ></i></button> -->
                                                <button class="SaveButton ButtonStyle" (click)="sendPushNotification()">Send
                                                    Push Notification</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Popup Box ///////// -->
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 recent-notifications" *ngIf="isShowRecentNotifications">
                            <img class="cancel" src="../../assets/images/cancel.jpg" (click)="closeRecentNotifications()">
                            <div class="Recente__Noti mt-4 pt-4">
                                <span class="Recent__">
                                    <a  class="active">Recent Trip History</a>
                                    <a >Recent Notification</a>
                                </span>
                                <span class="view__all">
                                    <a >View All <img
                                            src="assets/images/filter-icon.png"></a>
                                </span>
                            </div>
                             <div  *ngIf="tripHistory&& tripHistory.length == 0" class="mt-4 PacelId">
                                No Recent Trip History
                            </div>
                            <div *ngIf="tripHistory&& tripHistory.length > 0" class="PacelId mt-4">
                                <ul>
                                    <li *ngFor="let trip of tripHistory">
                                        <span class="Parcel_T">Parcel ID {{trip.order_no}} <span
                                                class="min-ago">{{trip.dely_date}}</span></span>
                                        <div class="AddressTitle">
                                            <img *ngIf="trip.order_type == 'pickup'" src="assets/images/p-icon.png">
                                            <img *ngIf="trip.order_type == 'delivery'" src="assets/images/d-icon.png">

                                            <p>
                                                <strong>Delivered To: {{trip.customer_name}}</strong>
                                                <span>Addrees: {{trip.customer_addr}}</span>
                                                <span class="InfoHere">Phone Number: {{trip.customer_phone}}</span>
                                                <button (click)="viewOrder(trip.id)" class="ViewButton">View</button>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table View /////////// -->
        </div>
        <!-- Tab Content Area Start /////////// 01 -->
    </div>
</div>
