<!-- Side Bar -->
<section class="section" style="background: #ebeff2;">
    <div class="container-fluid">
        <div class="row">
            <!-- Side Bar -->
            <div class="col-md-3 width20">
                <app-menu></app-menu>
            </div>
            <!-- Side Bar /////////// -->
            <div class="col-md-9 width80">

                <app-top></app-top>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ContentArea">
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="HeadingName">
                                        <h2>Add Company</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 width20">
                                    <div class="ProfilePik">
                                        <div class="ChangePic">
                                            <img src="assets/images/profilephoto.png" />
                                            <span class="Edit_Img">
                                                <img src="assets/images/edir-img.png">
                                            </span>
                                        </div>
                                        <div class="ChangeImg">
                                            Change Profile Photo
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 width46">
                                    <form class="ProfileFor">
                                        <div class="row">
                                            <!-- Popup Box -->
                                            <div class="CardPopup">
                                                <div class="row">
                                                    <div class="col-md-12 mb-4">
                                                        <span class="Password">
                                                            <input type="text" name="" placeholder="Company Name"
                                                                class="Pro_input_Field">
                                                        </span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="Password">
                                                            <select class="Pro_input_Field">
                                                                <option>Country</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <span class="Password">
                                                            <input type="text" name="" placeholder="Address"
                                                                class="Pro_input_Field">
                                                        </span>
                                                    </div>

                                                    <div class="col-md-12 mt-4 mb-3">
                                                        <span class="Password">
                                                            <input type="text" name="" placeholder="Company Name"
                                                                class="Pro_input_Field">
                                                        </span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="Password">
                                                            <select class="Pro_input_Field">
                                                                <option>Country</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <span class="Password">
                                                            <input type="text" name="" placeholder="Address"
                                                                class="Pro_input_Field">
                                                        </span>
                                                    </div>

                                                    <!-- <div class="d-flex justify-content-between mt-4 Cancel_Save">
                                                    <button class="CancelButton">Cancel</button>
                                                    <button class="SaveButton ButtonStyle">Add Company</button>
                                                </div> -->
                                                </div>
                                            </div>
                                            <!-- Popup Box ///////// -->
                                        </div>
                                        <div class="row mt-5">
                                            <div class="add-company">
                                                <ul>
                                                    <li class="gold">
                                                        <img src="assets/images/sper-top-icon02.png">
                                                        <span class="GoldColor">Gold</span>
                                                        <a href="#!" class="KnowMore">
                                                            Know More
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="silver">
                                                        <img src="assets/images/sper-top-icon03.png">
                                                        <span class="GoldColor">Silver</span>
                                                        <a href="#!" class="KnowMore">
                                                            Know More
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="bronze">
                                                        <img src="assets/images/sper-top-icon04.png">
                                                        <span class="GoldColor">Bronze</span>
                                                        <a href="#!" class="KnowMore">
                                                            Know More
                                                            <i class="fa fa-angle-down angle-down"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="ByPayment mt-5">
                                                <div class="Payment_t">
                                                    <h4>Payment</h4>
                                                    <div class="d-flex Payment_Method mt-2">
                                                        <label>
                                                            Other payment method <input type="checkbox" class="CheckBOx"
                                                                name="">
                                                        </label>
                                                        <label>
                                                            Auto Renewal <input type="checkbox" class="CheckBOx"
                                                                name="">
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- Popup Box -->
                                                <div class="CardPopup mt-4">
                                                    <div class="row">
                                                        <span class="CloseIcon">
                                                            <img src="assets/images/closeimg.png" />
                                                        </span>
                                                        <div class="col-md-12">
                                                            <div class="ChangePass">
                                                                Credit / Debit Card
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mb-4">
                                                            <span class="Password">
                                                                <input type="text" name=""
                                                                    placeholder="Card Number 0000 0000 0000"
                                                                    class="Pro_input_Field">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="Password">
                                                                <input type="text" name="" placeholder="Expiry Date"
                                                                    class="Pro_input_Field">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="Password">
                                                                <input type="text" name="" placeholder="CVV"
                                                                    class="Pro_input_Field">
                                                            </span>
                                                        </div>
                                                        <div class="d-flex justify-content-between mt-4 Cancel_Save">
                                                            <button class="CancelButton">Cancel</button>
                                                            <button class="SaveButton ButtonStyle">Add
                                                                Company</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Popup Box ///////// -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <app-sidebar></app-sidebar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Side Bar /////////////////// -->