<section class="section" style="background: #ebeff2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <app-menu></app-menu>
      </div>

      <div class="col-md-10">
        <app-top></app-top>

        <div class="row">
          <div class="col-md-12">
            <div class="ContentArea">
              <div class="ContentArea_Inner">

                <img src="assets/images/sett.jpg" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
