<app-splash></app-splash>
<section *ngIf="!isLoggedIn"  style="background: white; height: 100%;">
  <router-outlet></router-outlet>
</section>
<section *ngIf="isLoggedIn" class="section" style="height: 100%">
  <div class="container-fluid" style="height: 100%">
    <div class="row main_box"  style="height: 100%">
      <div class="col-md-2">
        <a routerLink="/" class="side_menu">
          <i class="fa-regular fa-bars"></i>
        </a>
        <app-menu [isRoleIn]="isRoleIn"></app-menu>
      </div>
      <div class="col-md-10">
        <app-top [isRoleIn]="isRoleIn"></app-top>
        <div class="row">
          <div class="col-md-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //" -->
<div *ngIf="notification && notification.length > 0" class="notification-container">
  <div class="notification-modal">
    <h2 class="px-3 py-2 text-primary"><strong>Notification:</strong></h2>
    <h2 class="px-3">{{notification}}
    </h2>
    <div>
      <button
                    type="submit"
                    class="ButtonStyle notification-ok"
                    (click)="closeNotification()"
                  >
                    Ok
                  </button>
    </div>
  </div>
  
</div>