.notification-container{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 11111111111;
    position: absolute;
    top: 0;
    bottom: 0;
}

.notification-modal{
    width: 400px;
    height: 200px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 3px rgba(0,0,0,.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.notification-ok{
    position: absolute;
    bottom: 10%;
    right: 5%;
}
.main-container{
    
    display: flex;
    flex-direction: row;

}
.main-content-container{
    width: calc(100% - 250px);
    right: 13px;
    position: absolute;
}
@media screen and (max-width: 991px) {
    .main-content-container{
      width: calc(100% - 210px);
    }
  }