<div class="ContentArea no-padding">
  <div class="TabsList">
    <ul class="Tab_List">
      <li class="active">
        <a
          >Todays Order 480
          <span>Wed Oct 26,2023</span>
        </a>
      </li>
      <li>
        <a>Todays Deliveries 220 </a>
      </li>
      <li>
        <a>Todays Pickup 260 </a>
      </li>
    </ul>
  </div>
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Status Button -->
      <div class="ButtonTab">
        <ul>
          <li class="All">
            <a>
              <span class="All">All</span>
              <span class="All-Noti">480</span>
            </a>
          </li>
          <li class="Pending">
            <a>
              <span class="All">Pending</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Successful">
            <a>
              <span class="All">Successful</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Unsuccessful">
            <a>
              <span class="All">Unsuccessful</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Cancelled">
            <a>
              <span class="All">Cancelled</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Status Button /////////// -->
      <!-- Table View -->
      <div class="Table mt-4">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-6 Oreder">
              <span class="RecentTitle">Recent Order</span>
              <a class="ViewAll">View All</a>
            </div>
            <div class="col-md-6 SelectDate">
              <a class="Select_Date">
                Select Date <i class="fa fa-calendar-o"></i>
              </a>
              <a class="Select_Date"> Filter <i class="fa fa-sliders"></i> </a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="Table_Scroll">
              <table
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <th>Order Id</th>
                  <th>Customer Name</th>
                  <th>Customer Address</th>
                  <th>Delivery Date</th>
                  <th>Delivery Time</th>
                  <th>Actual time</th>
                  <th>Driver</th>
                  <th>Status</th>
                  <th>Other Option</th>
                </tr>
                <tr
                  class="tr-driver-list"
                  *ngFor="let item of orderData; let index = index"
                >
                  <td routerLink="/admin/orders/detail/{{ item.id }}">
                    <img
                      src="./../../../../assets/images/p-icon.png"
                      *ngIf="!item.profile_image"
                    />
                    {{ item.id }}
                  </td>
                  <td>{{ item.customer_name }}</td>
                  <td>{{ item.customer_addr }}</td>
                  <td>{{ item.dely_date | date : "fullDate" }}</td>
                  <td>{{ item.dely_time }}</td>
                  <td>
                    <span class="GreenColor">{{
                      item.created_at | date : "shortTime"
                    }}</span>
                  </td>
                  <td>
                    {{ item?.assigned_order[0]?.driver?.first_name }}
                    {{ item?.assigned_order[0]?.driver?.last_name }}
                    {{
                      item?.assigned_order[0]?.driver?.id
                        ? "(" + item?.assigned_order[0]?.driver?.id + ")"
                        : ""
                    }}
                  </td>
                  <td>
                    <button
                      class="button-{{
                        item.order_status | titlecase
                      }} status_button_style"
                    >
                      {{ item.order_status | titlecase }}
                    </button>
                  </td>
                  <td>
                    <div class="GetIocn">
                      <span class="fa fa-phone"></span>
                      <span class="fa fa-paper-plane"></span>

                      <a (click)="orderDelete(item.id)">
                        <i class="fa fa-trash Delete"></i>
                        <i
                          class="fa fa-spinner fa-spin"
                          *ngIf="delloading && toggle[item.id]"
                        ></i>
                      </a>

                      <input
                        *ngIf="item?.assigned_order.length == 0"
                        type="checkbox"
                        (change)="updateAsign(item.id, $event)"
                      />
                      <input
                        *ngIf="item?.assigned_order.length != 0"
                        type="checkbox"
                        disabled
                      />
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <form [formGroup]="addAssign">
              <div class="row mt-3">
                <div class="col-md-7"></div>
                <div class="col-md-3">
                  <select2
                    [data]="data"
                    class="Pro_input_Field"
                    formControlName="driver_id"
                    placeholder="Search Driver"
                  ></select2>
                  <div
                    *ngIf="isSubmitted && f['driver_id'].errors"
                    class="text-danger"
                  >
                    <div *ngIf="f['driver_id'].errors['required']">
                      Driver is required
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-end">
                  <button
                    type="submit"
                    (click)="handleSubmit()"
                    class="ButtonStyle"
                    [disabled]="!this.assignArr.length"
                  >
                    Assign Order
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
