<div class="ContentArea no-padding">
  <div class="TabsList" *ngIf="!isViewAllMode">
    <ul class="Tab_List">
      <li class="cursor-pointer" (click)="onClickTodaysOrder(item.order_type)" [ngClass]="item.isActive ? 'active': ''" *ngFor="let item of todayOrdersCount; let i = index">
        <a *ngIf="item.order_type == 'pickup'">Todays Pickup: {{item.count}} </a>
        <a *ngIf="item.order_type == 'delivery'">Todays Deliveries: {{item.count}} </a>
        <a *ngIf="item.order_type == 'both'">Todays Order: {{getCountOfTodayOrders()}}
          <span>{{todayDate | date: 'EEE'}} {{todayDate | date}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Status Button -->
      <div class="ButtonTab" *ngIf="!isViewAllMode">
        <ul>
          <ng-container *ngFor="let item of allOrdersCount">
            <li *ngIf="item.order_status != 'shipped'" (click)="onClickStatus(item.order_status)" class="cursor-pointer" [ngClass]="{
            'All': item.order_status == 'all',
            'Pending': item.order_status == 'pending',
            'Successful': item.order_status == 'successful',
            'Unsuccessful': item.order_status == 'unsuccessful',
            'Cancelled': item.order_status == 'cancelled'
            }">
            <a [ngClass]="item.isActive? 'active': ''">
              <span *ngIf="item.order_status == 'all'" class="All">All</span>
              <span *ngIf="item.order_status == 'pending'" class="All">Pending</span>
              <span *ngIf="item.order_status == 'successful'" class="All">Successful</span>
              <span *ngIf="item.order_status == 'unsuccessful'" class="All">Unsuccessful</span>
              <span *ngIf="item.order_status == 'cancelled'" class="All">Cancelled</span>

              <span class="All-Noti">
                {{item.order_status == 'all' ? getCountOfAllOrders() : item.count}}
              </span>
            </a>
          </li>
        </ng-container>

          <!-- <li class="Pending">
            <a>
              <span class="All">Pending</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Successful">
            <a>
              <span class="All">Successful</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Unsuccessful">
            <a>
              <span class="All">Unsuccessful</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Cancelled">
            <a>
              <span class="All">Cancelled</span>
              <span class="All-Noti">120</span>
            </a>
          </li> -->
        </ul>
      </div>
      <!-- Status Button /////////// -->
      <!-- Table View -->
      <div class="Table mt-4">
        <div *ngIf="isShowPushNotificationForm" class="create-push-notification-dialog">
          <div class="cpn mx-2">Create Push Notification</div>
          <div class="">

            <div class="row mx-2">
              <div class="col-7 cpn-form-container">
                <input type="text" placeholder="Enter Title"/>
                <br>
                <textarea placeholder="Enter Your Message here..."></textarea>
              </div>
              <div class="col-2 text-center">
                <div class="add-files order-list-add-files" (click)="fileInput.click()" >
                  <img *ngIf="imageSrc" [src]="imageSrc" />
                  <div>Add Files</div>
                  <input
                    #fileInput
                    type="file"
                    (change)="readURL($event)"
                    style="display: none"
                    accept="image/*"
                />
                </div>
              </div>
              <div class="col-3 push-notification-btns">
                <p class="fw-bold">Select User</p>
                <div class="orders-pnb">
                  <div class="customer">
                    <button class="push-notification-btn-cancel p-0" (click)="onClickPushNotification()">
                      <img class="" src="../../assets/images/user-icon.png"> Coustmer</button>
                  </div>
                  <div class="driver">
                    <button class="push-notification-btn-send p-0">
                      <img class="" src="../../assets/images/car-user-icon.png">  Driver</button>
                  </div>
                </div>
                <div class="orders-pnb orders-list-pn">
                  <div class="w-100">
                    <button class="push-notification-btn-cancel p-0" (click)="onClickPushNotification()">Cancel  <img class="" src="../../assets/images/cancel.jpg"></button>
                  </div>
                  <div class="w-100">
                    <button class="push-notification-btn-send p-0">Send <img class="" src="../../assets/images/gray-pn.jpg"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="OrderList">
          <div class="row">
            <div class="col-md-6 Oreder" *ngIf="!isViewAllMode">
              <span class="RecentTitle">Recent Order</span>
              <a class="ViewAll" (click)="viewAll()">View All</a>
            </div>
            <div class="col-md-6 Oreder" *ngIf="isViewAllMode">
              <a class="ViewAll p-0" (click)="backToNormalMode()"><i class="fa fa-angle-left mx-2"></i>Back</a>
            </div>
            <div class="col-md-6 SelectDate">
              <a class="Select_Date">
                Select Date: <i class="fa fa-calendar-o"></i>
                <input type="date" [(ngModel)]="selectedDateVal" class="border-0" (change)="selectedDate($event)"/>
              </a>
              <a class="Select_Date"> Filter <i class="fa fa-sliders"></i> </a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="">
              <table
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <!-- <th>Priority</th> -->
                  <th>Order ID</th>
                  <th>Customer Name</th>
                  <th>Customer Address</th>
                  <th>Delivery Date</th>
                  <th>Delivery Time</th>
                  <th>Actual time</th>
                  <th [ngClass]="isShowDriversFilter? 'drop-down-active':''" class=" cursor-pointer position-relative width-130">
                     <span (click)="openDriversFilter()">Driver <i class="fa-regular fa-filter"></i>
                     </span>
                    <div *ngIf="isShowDriversFilter" class="dropdown-multiselect drivers-list-phone-dialog top-100 right-0">
                      <div class="mb-3">
                        <input type="text" placeholder="Search" class="drop-down-search" (input)="filterOptione($event)"/>
                      </div>
                      <ul class="list-of-items">
                        <li class="list-item mb-2" *ngFor="let val of options">
                          <div class="list-value">
                            {{val}}
                          </div>
                          <div class="list-checkbox">
                            <input
                              class="head-driver mx-2"
                              type="checkbox"
                              value="true"
                            />
                          </div>
                        </li>
                        
                        
                      </ul>
                    </div>                 
                  </th>
                  <th [ngClass]="isShowStatusFilter? 'drop-down-active':''" class="width-130 cursor-pointer position-relative"> 
                    <span (click)="openStatusFilter()">Status <i class="fa-regular fa-filter"></i></span>
                    <div *ngIf="isShowStatusFilter" class="dropdown-multiselect drivers-list-phone-dialog top-100 right-0">
                      <div class="mb-3">
                        <input type="text" placeholder="Search" class="drop-down-search" (input)="filterStatusOptione($event)"/>
                      </div>
                      <ul class="list-of-items">
                        <li class="list-item mb-2" *ngFor="let value of statusOptions">
                          <div class="list-value">
                            {{value}}
                          </div>
                          <div class="list-checkbox">
                            <input
                              class="head-driver mx-2"
                              type="checkbox"
                              value="true"
                            />
                          </div>
                        </li>
                        
                        
                      </ul>
                    </div>
                 </th>
                  <th>Other Option</th>
                </tr>
                <tr
                  class="tr-driver-list order-list"
                  *ngFor="let item of orderData; let index = index"
                >
                <!-- <td class="text-center"><span (click)="setPriority('200ms','200ms')" class="priority">{{item.priority}}</span></td> -->
                  <td>
                    <div class="d-flex">
                      <ng-container *ngIf="item.order_type == 'pickup'" >
                        <img *ngIf="(!(item?.assigned_order[0]?.driver?.first_name) || item?.assigned_order[0]?.driver?.first_name?.length == 0)" (click)="setPriority('200ms','200ms', item.id)" class="mx-1"
                        src="./../../../../assets/images/p-icon.png"
                        />
                        <img *ngIf="item?.assigned_order[0]?.driver?.first_name?.length > 0" (click)="setPriority('200ms','200ms', item.id)" class="mx-1"
                        src="./../../../../assets/images/p_assigned.svg"
                        />
                      </ng-container>
                      <ng-container *ngIf="item.order_type == 'delivery'">
                        <img *ngIf="(!(item?.assigned_order[0]?.driver?.first_name) ||item?.assigned_order[0]?.driver?.first_name?.length == 0)" (click)="setPriority('200ms','200ms',item.id)" class="mx-1"
                        src="./../../../../assets/images/d-icon.png"
                        />
                        <img *ngIf="item?.assigned_order[0]?.driver?.first_name?.length > 0" (click)="setPriority('200ms','200ms',item.id)" class="mx-1"
                          src="./../../../../assets/images/d_assigned.svg"
                        />
                      </ng-container>
                    {{ item.order_type == 'pickup' ? item.po :  item.order_no}}
                    </div>
                    
                  </td>
                  <td>{{ item.customer_name }}</td>
                  <td>{{ item.customer_addr }}</td>
                  <td>{{ item.dely_date | date : "fullDate" }}</td>
                  <td>{{ item.dely_time }}</td>
                  <td>
                    <!-- <span class="GreenColor">{{
                      item.created_at | date : "shortTime"
                    }}</span> -->
                    NA
                  </td>
                  <td>
                    {{ item?.current_driver?.first_name ?  item?.current_driver?.first_name+" "+item?.current_driver?.last_name : '' }}
                  </td>
                  <td>
                    <button
                      class="button-{{
                        item.order_status | titlecase
                      }} status_button_style"
                    >
                      {{ item.order_status | titlecase }}
                    </button>
                  </td>
                  <td>
                    <div class="GetIocn">
                      <a class="drivers-phone-container position-relative">
                        <img (click)="onClickPhone(index)" class="push-notification" src="../../../../assets/images/phone.jpg" />
                        <div *ngIf="(isShowContactDialog && index == phoneIndex)" class="drivers-list-phone-dialog">
                          <div class="confirmation-msg">
                            <div class="row mx-2">
                                <span class="contact-number">+91 {{item?.customer_phone}} <i class="fa fa-copy px-2"  (click)="copyText('+91 9874359345')" aria-hidden="true"></i></span>
                            </div>
                          </div>
                        </div>
                      </a>
                      <img (click)="onClickPushNotification()" class="push-notification" src="../../../../assets/images/pushnotification.png.jpg" />
                      <input
                        *ngIf="item?.assigned_order.length == 0"
                        (change)="updateAsign(item.id, $event)"
                        class="head-driver"
                        type="checkbox"
                      />
                      <input
                        *ngIf="item?.assigned_order.length != 0"
                        class="head-driver head-driver-disable"
                        type="checkbox"
                        disabled
                        checked
                      />
                      <a [routerLink]="'/admin/orders/detail/'+item.id"><i style="font-size: 18px;" class="fa fa-eye" aria-hidden="true"></i></a>
                      <!-- <a (click)="orderDelete(item.id)">
                        
                      </a> -->
                      <a class="drivers-list-delete" >
                        <span (click)="onClickDeleteOrderDialog($event, item.id)">
                          <i class="fa fa-trash Delete"></i>
                          <i
                          class="fa fa-spinner fa-spin"
                          *ngIf="delloading && toggle[item.id]"
                        ></i>
                        </span> 
                        <div *ngIf="isShowDeleteOrdersDialog && deleteOrderId == item.id" class="drivers-list-delete-dialog">
                          <div class="delete-drivers">Delete Order</div>
                          <div class="confirmation-msg">
                            <div class="row">
                              <div class="col-9">
                                Are you sure you want to delete the order ?
                              </div>
                              <div class="col-3">
                                <img src="../../../../assets/images/big-delete.jpg" width="63px"/>
                              </div>
                            </div>
                          </div>
                          <div class="text-center px-4">
                            <button class="ButtonStyle cancel-btn float-start" (click)="onClickDeleteOrderDialog($event, item.id)">Cancel</button>
                            <button class="ButtonStyle float-end" (click)="orderDelete(item.id)">Delete Order</button>
                          </div>
                        </div>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <form [formGroup]="addAssign">
              <div class="row mt-3">
                <div class="col-md-7 ">

                  <div class="pagination" *ngIf="showPaginator">
                    <!-- <span [ngClass]="page == 0 ? 'disabled' : ''" class="prev" (click)="prevPage()">
                      <i class="mx-2 fa fa-angle-left"></i>
                    </span>
                    <span class="numbers">{{startNumber}}-{{endNumber}} of {{ordersListCount}}</span> 
                    <span [ngClass]="endNumber == ordersListCount ? 'disabled' : ''"  (click)="nextPage()" class="next">
                      <i class="mx-2 fa fa-angle-right"></i>
                    </span> -->
                    <mat-paginator [length]="ordersListCount"
                        [pageSize]="10"
                        (page)="handlePageEvent($event)"
                        aria-label="Select page">
                    </mat-paginator>
                  </div>


                </div>
                <div class="col-md-3">
                  <select2
                    [data]="data"
                    class="Pro_input_Field"
                    formControlName="driver_id"
                    placeholder="Search Driver"
                  ></select2>
                  <div
                    *ngIf="isSubmitted && f['driver_id'].errors"
                    class="text-danger"
                  >
                    <div *ngIf="f['driver_id'].errors['required']">
                      Driver is required
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-end">
                  <button
                    type="submit"
                    (click)="handleSubmit()"
                    class="ButtonStyle"
                    [disabled]="!this.assignArr.length"
                  >
                    Assign Order
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
<div *ngIf="isShowDriversFilter" (click)="openDriversFilter()" class="overlay bg-none"></div>
<div *ngIf="isShowStatusFilter" (click)="openStatusFilter()" class="overlay bg-none"></div>
<div *ngIf="isShowContactDialog" (click)="onClickPhone($event)" class="overlay"></div>
<div *ngIf="isShowPushNotificationForm" (click)="onClickPushNotification()" class="push-notification-overlay"></div>
<div *ngIf="isShowDeleteOrdersDialog" (click)="onClickDeleteOrderDialog($event,'')" class="overlay"></div>
