.list-of-items{
    list-style: none;
}
.drop-down-search{
    width: 100%;
    height: 31px;
    border: 1px solid gray;
    border-radius: 5px;
}
.drop-down-active{
    background-color: white;
}
.dropdown-multiselect{
    width: 130px;
}
.list-item{
    display: flex;
    font-weight: normal;
}
.list-checkbox{
    width: 25%;
}
.list-value{
    width: 75%;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.GetIcon{
    gap: 13px;
}
.Order_Table tr td img {
    max-width: 18px;
}
/* td,tr,th{
    border:1px solid white;
    border-collapse: collapse;
    cursor:all-scroll;
   }
   table{
    border-collapse: collapse;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
   } */

ul.Tab_List li:first-child a {
    border-radius: 15px 0px 0px 0px;
    margin-left: 0px;
}
ul.Tab_List li:first-child a {
    background: #afbac5;
}
ul.Tab_List li.active a {
    background: #0eb002 !important;
}
.ButtonTab ul li a.active {
    background: #0eb002;
    color: white;
}
.ButtonTab ul li a.active:before {
    background: #0eb002;
}
.pagination{
    font-size: 20px;
    line-height: 47px;

}
.numbers{
    color: slategray;
}
.pagination .fa{
    padding: 10px;
}
.pagination .fa:hover{
    background: lightgray;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.Order_Table tr td:first-child {
    display: revert;
}
.orders-pnb{
    display: flex;
    gap: 10px;
}
.customer{
    width: 100%;
}
.driver{
    width: 100%;
}
.customer button{
    height: 50px;
    font-weight: 500;
    background: none;
    font-size: 17px;
}
.driver button{
    height: 50px;
    font-weight: 500;
    background: none;
    border: 1px solid gray;
    color: black;
    font-size: 17px;
}
.orders-list-pn button{
    height: 50px;
    font-weight: 500;
    padding-left: 3px !important;

}
.orders-list-pn img {
    width: 21px;
    margin-left: 12px;
    margin-top: -4px;
}

.orders-list-pn .push-notification-btn-send{
    background: #5e5e5e;
}
.driver img{
    margin-right: 19px;
    margin-top: -3px;
}
.customer img{
    margin-right: 8px;
    margin-top: -3px;
}
.order-list-add-files div{
    margin-bottom: 23px;
}