<div class="ContentArea no-padding">
  <div class="TabsList">
    <ul class="Tab_List">
      <li class="cursor-pointer" (click)="onClickTodaysOrder(item.order_type)" [ngClass]="item.isActive ? 'active': ''" *ngFor="let item of todayOrdersCount; let i = index">
        <a *ngIf="item.order_type == 'pickup'">Todays Pickup: {{item.count}} </a>
        <a *ngIf="item.order_type == 'delivery'">Todays Deliveries: {{item.count}} </a>
        <a *ngIf="item.order_type == 'both'">Todays Order: {{getCountOfTodayOrders()}}
          <span>{{todayDate | date: 'EEE'}} {{todayDate | date}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Status Button -->
      <div class="ButtonTab">
        <ul>
          <li (click)="onClickStatus(item.order_status)" class="cursor-pointer" *ngFor="let item of allOrdersCount" [ngClass]="{
            'All': item.order_status == 'all',
            'Pending': item.order_status == 'pending',
            'Successful': item.order_status == 'successful',
            'Unsuccessful': item.order_status == 'unsuccessful',
            'Cancelled': item.order_status == 'cancelled'
            }">
            <a [ngClass]="item.isActive? 'active': ''">
              <span *ngIf="item.order_status == 'all'" class="All">All</span>
              <span *ngIf="item.order_status == 'pending'" class="All">Pending</span>
              <span *ngIf="item.order_status == 'successful'" class="All">Successful</span>
              <span *ngIf="item.order_status == 'unsuccessful'" class="All">Unsuccessful</span>
              <span *ngIf="item.order_status == 'cancelled'" class="All">Cancelled</span>

              <span class="All-Noti">
                {{item.order_status == 'all' ? getCountOfAllOrders() : item.count}}
              </span>
            </a>
          </li>
          <!-- <li class="Pending">
            <a>
              <span class="All">Pending</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Successful">
            <a>
              <span class="All">Successful</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Unsuccessful">
            <a>
              <span class="All">Unsuccessful</span>
              <span class="All-Noti">120</span>
            </a>
          </li>
          <li class="Cancelled">
            <a>
              <span class="All">Cancelled</span>
              <span class="All-Noti">120</span>
            </a>
          </li> -->
        </ul>
      </div>
      <!-- Status Button /////////// -->
      <!-- Table View -->
      <div class="Table mt-4">
        <div *ngIf="isShowPushNotificationForm" class="create-push-notification-dialog">
          <div class="cpn mx-2">Create Push Notification</div>
          <div class="">

            <div class="row mx-2">
              <div class="col-8 cpn-form-container">
                <input type="text" placeholder="Enter Title"/>
                <br>
                <textarea placeholder="Enter Your Message here..."></textarea>
              </div>
              <div class="col-2 text-center">
                <div class="add-files" (click)="fileInput.click()" >
                  <img *ngIf="imageSrc" [src]="imageSrc" />
                  <div>Add Files</div>
                  <input
                    #fileInput
                    type="file"
                    (change)="readURL($event)"
                    style="display: none"
                    accept="image/*"
                />
                </div>
              </div>
              <div class="col-2 push-notification-btns">
                <div>
                  <button class="push-notification-btn-send">Send <img src="../../assets/images/pushnotification-white.jpg"></button>
                </div>
                <div>
                  <button class="push-notification-btn-cancel" (click)="onClickPushNotification()">Cancel <img src="../../assets/images/cancel.jpg"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="OrderList">
          <div class="row">
            <div class="col-md-6 Oreder">
              <span class="RecentTitle">Recent Order</span>
              <a class="ViewAll">View All</a>
            </div>
            <div class="col-md-6 SelectDate">
              <a class="Select_Date">
                Select Date: <i class="fa fa-calendar-o"></i>
                <input type="date" class="border-0" (change)="selectedDate($event)"/>
              </a>
              <a class="Select_Date"> Filter <i class="fa fa-sliders"></i> </a>
            </div>
          </div>
          <div class="row mt-3">
            <div class="">
              <table
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <th>Order Id</th>
                  <th>Customer Name</th>
                  <th>Customer Address</th>
                  <th>Delivery Date</th>
                  <th>Delivery Time</th>
                  <th>Actual time</th>
                  <th [ngClass]="isShowDriversFilter? 'drop-down-active':''" class=" cursor-pointer position-relative width-130">
                     <span (click)="openDriversFilter()">Driver</span>
                    <div *ngIf="isShowDriversFilter" class="dropdown-multiselect drivers-list-phone-dialog top-100 right-0">
                      <div class="mb-3">
                        <input type="text" placeholder="Search" class="drop-down-search" (input)="filterOptione($event)"/>
                      </div>
                      <ul class="list-of-items">
                        <li class="list-item mb-2" *ngFor="let val of options">
                          <div class="list-value">
                            {{val}}
                          </div>
                          <div class="list-checkbox">
                            <input
                              class="head-driver mx-2"
                              type="checkbox"
                              value="true"
                            />
                          </div>
                        </li>
                        
                        
                      </ul>
                    </div>                 
                  </th>
                  <th [ngClass]="isShowStatusFilter? 'drop-down-active':''" class="width-130 cursor-pointer position-relative"> 
                    <span (click)="openStatusFilter()">Status</span>
                    <div *ngIf="isShowStatusFilter" class="dropdown-multiselect drivers-list-phone-dialog top-100 right-0">
                      <div class="mb-3">
                        <input type="text" placeholder="Search" class="drop-down-search" (input)="filterStatusOptione($event)"/>
                      </div>
                      <ul class="list-of-items">
                        <li class="list-item mb-2" *ngFor="let value of statusOptions">
                          <div class="list-value">
                            {{value}}
                          </div>
                          <div class="list-checkbox">
                            <input
                              class="head-driver mx-2"
                              type="checkbox"
                              value="true"
                            />
                          </div>
                        </li>
                        
                        
                      </ul>
                    </div>
                 </th>
                  <th>Other Option</th>
                </tr>
                <tr
                  class="tr-driver-list order-list"
                  *ngFor="let item of orderData; let index = index"
                >
                  <td>
                    <img *ngIf="item.order_type == 'pickup'"
                      src="./../../../../assets/images/p-icon.png"
                    />
                    <img *ngIf="item.order_type == 'delivery'"
                      src="./../../../../assets/images/d-icon.png"
                    />

                    {{ item.order_type == 'pickup' ? item.po :  item.order_no}}
                  </td>
                  <td>{{ item.customer_name }}</td>
                  <td>{{ item.customer_addr }}</td>
                  <td>{{ item.dely_date | date : "fullDate" }}</td>
                  <td>{{ item.dely_time }}</td>
                  <td>
                    <!-- <span class="GreenColor">{{
                      item.created_at | date : "shortTime"
                    }}</span> -->
                    NA
                  </td>
                  <td>
                    {{ item?.assigned_order[0]?.driver?.first_name }}
                    {{ item?.assigned_order[0]?.driver?.last_name }}
                  </td>
                  <td>
                    <button
                      class="button-{{
                        item.order_status | titlecase
                      }} status_button_style"
                    >
                      {{ item.order_status | titlecase }}
                    </button>
                  </td>
                  <td>
                    <div class="GetIocn">
                      <a class="drivers-phone-container position-relative">
                        <img (click)="onClickPhone(index)" class="push-notification" src="../../../../assets/images/phone.jpg" />
                        <div *ngIf="(isShowContactDialog && index == phoneIndex)" class="drivers-list-phone-dialog">
                          <div class="confirmation-msg">
                            <div class="row mx-2">
                                <span class="contact-number">+91 9874359345 <i class="fa fa-copy px-2"  (click)="copyText('+91 9874359345')" aria-hidden="true"></i></span>
                            </div>
                          </div>
                        </div>
                      </a>
                      <img (click)="onClickPushNotification()" class="push-notification" src="../../../../assets/images/pushnotification.png.jpg" />
                      <input
                        *ngIf="item?.assigned_order.length == 0"
                        (change)="updateAsign(item.id, $event)"
                        class="head-driver"
                        type="checkbox"
                      />
                      <input
                        *ngIf="item?.assigned_order.length != 0"
                        class="head-driver"
                        type="checkbox"
                        disabled
                        checked
                      />
                      <a [routerLink]="'/admin/orders/detail/'+item.id"><i style="font-size: 18px;" class="fa fa-eye" aria-hidden="true"></i></a>
                      <a (click)="orderDelete(item.id)">
                        <i class="fa fa-trash Delete"></i>
                        <i
                          class="fa fa-spinner fa-spin"
                          *ngIf="delloading && toggle[item.id]"
                        ></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <form [formGroup]="addAssign">
              <div class="row mt-3">
                <div class="col-md-7"></div>
                <div class="col-md-3">
                  <select2
                    [data]="data"
                    class="Pro_input_Field"
                    formControlName="driver_id"
                    placeholder="Search Driver"
                  ></select2>
                  <div
                    *ngIf="isSubmitted && f['driver_id'].errors"
                    class="text-danger"
                  >
                    <div *ngIf="f['driver_id'].errors['required']">
                      Driver is required
                    </div>
                  </div>
                </div>
                <div class="col-md-2 text-end">
                  <button
                    type="submit"
                    (click)="handleSubmit()"
                    class="ButtonStyle"
                    [disabled]="!this.assignArr.length"
                  >
                    Assign Order
                    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
<div *ngIf="isShowDriversFilter" (click)="openDriversFilter()" class="overlay bg-none"></div>
<div *ngIf="isShowStatusFilter" (click)="openStatusFilter()" class="overlay bg-none"></div>
<div *ngIf="isShowContactDialog" (click)="onClickPhone($event)" class="overlay"></div>
<div *ngIf="isShowPushNotificationForm" (click)="onClickPushNotification()" class="push-notification-overlay"></div>