<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="Table">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder">Add Address</span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="from-to-pick">
                <div class="from-to-pick-inner">
                  <div class="form-div">
                    <form class="Form-Form">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="filed-input">
                            <input
                              type="text"
                              name=""
                              placeholder="Date"
                              class="CompanyField"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="filed-input">
                            <button class="ButtonStyle">Add Address</button>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-12">
                          <iframe
                            class="GoogleMap"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15258072.40570261!2d82.75252935!3d20.98801345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1673716360166!5m2!1sen!2sin"
                            width="100%"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                          ></iframe>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
