<div class="ContentArea">
  <div class="ContentArea_Inner">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <!-- Table View -->
      <div class="Table">
        <div class="OrderList">
          <div class="row">
            <div class="col-md-12 Oreder">
              <span class="RecentTitle AddOrder">Add Address</span>
              <span *ngIf="isCloseBtn" (click)="closeTheDialog()"><i class="fa fa-close address-modal-close-btn"></i></span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="from-to-pick">
                <div class="from-to-pick-inner">
                  <div class="form-div">
                    <form
                      [formGroup]="addressF"
                      class="Form-Form"
                      enctype="multipart/form-data"
                    >
                      <div class="row">
                        <div class="col-md-8">
                          <div class="filed-input">
                            <input
                              type="search"
                              formControlName="address"
                              placeholder="Address"
                              class="CompanyField"
                              id="pickupkeyword"
                              aria-label="Search"
                              #pickupkeyword
                              autocomplete="off"
                            />
                            <div
                              *ngIf="isSubmitted && f['address'].errors"
                              class="text-danger"
                            >
                              <div *ngIf="f['address'].errors['required']">
                                Address is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="filed-input">
                            <button
                              type="submit"
                              (click)="handleSubmit()"
                              class="SaveButton ButtonStyle"
                            >
                              Add Address
                              <i
                                class="fa fa-spinner fa-spin"
                                *ngIf="loading"
                              ></i>
                            </button>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="hidden"
                              formControlName="latitude"
                              placeholder="Latitude"
                              class="CompanyField"
                              readonly
                            />
                            <div
                              *ngIf="isSubmitted && f['latitude'].errors"
                              class="text-danger"
                            >
                              <div *ngIf="f['latitude'].errors['required']">
                                Latitude is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="filed-input">
                            <input
                              type="hidden"
                              formControlName="longitude"
                              placeholder="longitude"
                              class="CompanyField"
                              readonly
                            />
                            <div
                              *ngIf="isSubmitted && f['longitude'].errors"
                              class="text-danger"
                            >
                              <div *ngIf="f['longitude'].errors['required']">
                                Longitude is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-12">
                          <google-map 
                              class="GoogleMap"
                              width="100%"
                              [center]="initialCoordinates">
                              <map-marker 
                                #marker="mapMarker"
                                [position]="markerPositions[0]">
                              </map-marker>
                          </google-map>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
