<!-- Side Bar -->
<section class="LoginSection">
  <div class="container">
    <div class="row">
      <!-- Login Side -->
      <div class="col-md-5">
        <div class="login-form">
          <div class="LoginTitle">
            <h2 class="TitleHeading">Reset Password</h2>
            <span class="SubHeading">Value Your Customers Time</span>
          </div>
          <form [formGroup]="reset" (ngSubmit)="handleSubmit()" class="LoginForm mt-5">
            <div class="CustomField">
              <label>
                <input type="password" formControlName="password" />
                <span class="LabelT">Enter Password</span>
              </label>
            </div>
            <div class="CustomField">
              <label>
                <input type="password" formControlName="confirmPassword" />
                <span class="LabelT">Confirm Password</span>
              </label>
            </div>
            <div class="text-danger CustomErr">
              <div *ngIf="isSubmitted && f['password'].errors">
                <div *ngIf="f['password'].errors['required']">
                  Password is required
                </div>
              </div>
              <div *ngIf="isSubmitted && f['confirmPassword'].errors">
                <div *ngIf="f['confirmPassword'].errors['required']">
                  Confirm Password is required
                </div>
                <div *ngIf="f['confirmPassword'].errors['matching']">
                  Confirm Password does not match
                </div>
              </div>
            </div>
            <div class="CustomField">
              <a routerLink="/">Go Back</a>
            </div>
            <div class="CustomField loginButton mt-4">
              <button type="submit">Update <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-1"></div>
      <!-- Login Side /////////////////// -->
      <div class="col-md-6 mt-5">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</section>
<!-- Side Bar /////////////////// -->