<!-- Side Bar -->
<section class="section" style="background: #ebeff2;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
              <app-menu></app-menu>
            </div>
      
            <div class="col-md-10">
              <app-top></app-top>

                <!-- Add Content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="ContentArea">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="HeadingName">
                                        <h2>Tickets</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="ChatList">
                                        <div class="Ticket_Id">
                                            <div class="DeleteIcon">
                                                <a > Delete <i class="fa fa-trash Trash"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                            <h3>Manjeet Singh <span class="Time-Min-Ago">2 mins ago</span></h3>
                                            <h4>Ticket ID: 001199</h4>
                                            <p>Subject: Parcel ID 001199----------- | Time: 00:00 PM | Lorem ipsum
                                                is a name for a common type of placeholder text.</p>
                                        </div>
                                        <ul>
                                            <li class="UserName01">
                                                <span class="Mintago">50min ago</span>
                                                <span class="Name_U">Sandeep Singh</span>
                                                <p class="Chat_text">Query or general message here.......... !</p>
                                            </li>
                                            <li class="UserName02">
                                                <span class="Mintago">50min ago</span>
                                                <span class="Name_U">Sandeep Singh</span>
                                                <p class="Chat_text">Query or general message here.......... !</p>
                                            </li>
                                            <li class="UserName01">
                                                <span class="Mintago">50min ago</span>
                                                <span class="Name_U">Sandeep Singh</span>
                                                <p class="Chat_text">Query or general message here.......... !</p>
                                            </li>
                                            <li class="UserName02 ">
                                                <span class="Mintago">50min ago</span>
                                                <span class="Name_U">Sandeep Singh</span>
                                                <div class="ImgUpload">
                                                    <img src="assets/images/download.png">
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="SendMessage">
                                            <div class="Message01">
                                                <textarea placeholder="Custom Message"></textarea>
                                            </div>
                                            <div class="Message02">
                                                <div class="open-close">
                                                    <label>
                                                        Open <input type="radio" name="">
                                                    </label>
                                                    <label>
                                                        Close <input type="radio" name="">
                                                    </label>
                                                </div>
                                                <div class="open-close AttachFile">
                                                    <label>Attach File <i class="fa fa-paperclip paperclip"
                                                            aria-hidden="true"></i> <input type="file" name=""></label>
                                                    <button class="ButtonStyle">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Side Bar /////////////////// -->