
<google-map *ngIf="isComponent"
            class="GoogleMap"
            width="100%"
            
            [height]="height ? height : '500px'"
            [center]="this.markers[0]?.position">
            <map-marker (mapClick)="openInfoWindow(marker)" *ngFor="let marker of markers" #marker="mapMarker" 
                        [options]="marker.options"
                        [label]="marker.label"
                        [position]="marker.position">
            </map-marker>
</google-map>
<div class="">
    <div class="map-container">
        <google-map *ngIf="!isComponent" class="GoogleMap" width="100%" [height]="data.height ? data.height : '75px'"
        [center]="initialCoordinates">
        <ng-container *ngIf="data?.isShowDirections">
            <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
            [directions]="directionsResults"></map-directions-renderer>
        </ng-container>
    </google-map>
    </div>
    <div *ngIf="data?.isShowDirections" class="track-order-details">
        <p><strong>Esitimated Time:</strong> {{estimatedTime}}</p>
        <p><strong>Distance:</strong> {{distance}}</p>
        <p><strong>Delivery Address:</strong> {{this.data.orderData?.dely_address.address}}</p>
        <p><strong>Delivery Date:</strong> {{this.data.orderData?.dely_date}}</p>
    </div>
    
</div>


