
.action-btns{
    margin-left: auto;
}
.action-btns a{
    font-weight: 600;
    color: #202020;
    padding-left: 20px;
    text-decoration: none;
}
.push-notification{
    width: 21px;
    height: 21px;
    margin-top: -3px;
    margin-left: 5px;
    cursor: pointer;
}

.head-driver{
    font-size: 16px;
    
}
.head-driver[type=checkbox] {
    position: relative;
      cursor: pointer;
}
.head-driver[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}
.head-driver[type=checkbox]:checked:before {
    border: 2px solid #0eb002;
    background-color: #0eb002;
}
.head-driver[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 6px;
}
.active-dot{
    width: 6px;
    height: 6px;
    background-color: #0eb002;
    border-radius: 50%;
}
.inactive-dot{
    background-color: #de2525;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.slected-count{
    opacity: 0.5;
}
.Order_Table tr td:nth-child(3){
    font-weight: 700;
}
.active-status{
    background-color: #d8fad6;
}
.inactive-status{
    background-color: #ffbbbb;
}
.drivers-other-options{
    gap: 0px;
}
.select-all-dl{
    color: #0eb002 !important;
    cursor: pointer;
}
.deselect-all-dl{
    cursor: pointer;
}
.drivers-list-delete img{
    margin-top: -6px;
}
.drivers-list-delete {
    position: relative;
}
.drivers-list-delete span{
    cursor: pointer;
}
.drivers-list-delete-dialog{
    width: 350px;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.16));
    background-color: #ffffff;
    position: absolute;
    z-index: 11;
    right: 0;
    padding: 10px;
}
.drivers-list-delete-dialog .delete-drivers{
    font-size: 14px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 20px;
}
.drivers-list-delete-dialog .confirmation-msg{
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 30px;
}
.cancel-btn{
    background-color: white;
    color: black;
}
.overlay{
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
}
.drivers-phone-container{
    position: relative;
}
.create-push-notification-dialog{
    width: 100%;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.16));
    background-color: #ffffff;
    position: absolute;
    z-index: 11;
    right: 0;
    padding: 10px;
}
.push-notification-overlay{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
}
.cpn{
    font-size: 14px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 20px;
}
.cpn-form-container{
    border: 1px solid gray;
    border-radius: 15px;
}
.cpn-form-container input{
    border: none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
}
.cpn-form-container input::placeholder{
    font-size: 14px;
    color: #202020;
    font-weight: bold;
}
.cpn-form-container textarea, textarea::placeholder{
    border: none;
    width: 100%;
    height: 80px;
    overflow: hidden;
    font-size: 14px;
    color: lightgray;
}
.add-files{
    border: 1px solid gray;
    border-radius: 15px;
}
.add-files img{
    text-align: center;
    width: 100px;
    height: 70px;
    margin: 20px 20px 10px 20px;
}
.add-files div{
    margin-bottom: 10px;
    font-size: 14px;
    color: #202020;
    font-weight: 500;
}
.push-notification-btn-send{
    background: #0eb002;
    border: 0;
    color: #fff;
    width: 100%;
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.push-notification-btn-send img,.push-notification-btn-cancel img{
    width: 27px;
    margin-top: -8px;
}
.push-notification-btn-cancel{
    background: white;
    width: 100%;
    border: 1px solid gray;
    color: black;
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 20px;
    font-weight: 600;
}
.drivers-list-phone-dialog{
    width: 216px;
    border-radius: 15px;
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.16));
    background-color: #ffffff;
    position: absolute;
    z-index: 11;
    right: 0;
    top: 0;
    padding: 10px;
}
.drivers-list-phone-dialog .fa-copy{
    border-left: 1px solid gray;
    cursor: pointer;
    color: #555555;
}
.drivers-list-phone-dialog .contact-number{
    color: black;
}
.max-width-230px{
    max-width: 230px;
}
.gap-13px{
    gap: 13px;
}
.tr-driver-list:hover{
    background-color: #ebeff2;
    cursor: pointer;
}
tr > td:last-child {
    background-color:none !important;
}