<div class="ContentArea no-padding">
  <div class="ContentArea_Inner p-0">
    <!-- Tab Content Area Start 01-->
    <div id="Tb-Tabs01" class="Tabs01 TabsMain">
      <div class="TabsList">
        <ul class="Tab_List">
          <li (click)="totalDrivers()" [ngClass]="tabName == 'TD' ? 'active' : ''">
            <a *ngIf="copyOfDriversList">Total Drivers : {{copyOfDriversList.length}}</a>
          </li>
          <li [ngClass]="tabName == 'AD' ? 'active' : ''" (click)="activeDrivers()">
            <a>Active Drivers : {{activeDriversCount}} </a>
          </li>
          <li [ngClass]="tabName == 'INAD' ? 'active' : ''"  (click)="inActiveDrivers()">
            <a *ngIf="items">Inactive Drivers : {{copyOfDriversList.length - activeDriversCount }}</a>
          </li>
        </ul>
      </div>
      <div class="mx-3">
        <div class="SearchFilter gap-13px">
          <form class="Search max-width-230px">
            <input (keyup)="search($event)" type="text" name="" placeholder="Search" />
            <button><i class="fa fa-search"></i></button>
          </form>
          <div class="Filter_Set">
            <span>Filter Results <img src="assets/images/filter-icon.png"/></span>
          </div>
          <div class="action-btns">
            <a class="mx-3" (click)="onClickPushNotification()">Send Push Notification to all <img class="push-notification" src="../../../../assets/images/pushnotification-black.jpg" /></a>
            <a class="slected-count">{{selectedDriversCount}} Selected</a>
            <a class="select-all-dl" (click)="selectAll()">Select All </a>
            <a class="deselect-all-dl" (click)="deSelectAll()">Deselect All</a>
            <a class="drivers-list-delete" [ngClass]="selectedDriversCount > 0 ? '' : 'pe-none'">
              <span (click)="onClickDeleteDriverDialog($event)">Delete <img src="../../../../assets/images/delete.jpg" /></span> 
              <div *ngIf="isShowDeleteDriverDialog" class="drivers-list-delete-dialog">
                <div class="delete-drivers">Delete Drivers</div>
                <div class="confirmation-msg">
                  <div class="row">
                    <div class="col-9">
                      Are you sure you want to delete drivers ?
                    </div>
                    <div class="col-3">
                      <img src="../../../../assets/images/big-delete.jpg" width="63px"/>
                    </div>
                  </div>
                </div>
                <div class="text-center px-4">
                  <button class="ButtonStyle cancel-btn float-start" (click)="onClickDeleteDriverDialog($event)">Cancel</button>
                  <button (click)="deleteDriversList(this.selectedDriversCount)" class="ButtonStyle float-end">Delete Driver</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Table View -->
      <div class="Table mt-4 mx-3">
        <div *ngIf="isShowPushNotificationForm" class="create-push-notification-dialog">
          <div class="cpn mx-2">Create Push Notification</div>
          <div class="">

            <div class="row mx-2">
              <div class="col-8 cpn-form-container">
                <input type="text" placeholder="Enter Title"/>
                <br>
                <textarea placeholder="Enter Your Message here..."></textarea>
              </div>
              <div class="col-2 text-center">
                <div class="add-files" (click)="fileInput.click()" >
                  <img *ngIf="imageSrc" [src]="imageSrc" />
                  <div>Add Files</div>
                  <input
                    #fileInput
                    type="file"
                    (change)="readURL($event)"
                    style="display: none"
                    accept="image/*"
                />
                </div>
              </div>
              <div class="col-2 push-notification-btns">
                <div>
                  <button class="push-notification-btn-send">Send <img src="../../assets/images/pushnotification-white.jpg"></button>
                </div>
                <div>
                  <button class="push-notification-btn-cancel" (click)="onClickPushNotification()">Cancel <img src="../../assets/images/cancel.jpg"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="OrderList">
          <div class="row mt-3">
            <div class="Table_Scroll" >
              <table
                *ngIf="items && items.length > 0"
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <th class="text-start px-4">Driver/#</th>
                  <th>Assigned Orders</th>
                  <th>Completed Deliveries</th>
                  <th>Last Delivery Time</th>
                  <th>Time Back Warehouse</th>
                  <th>Status</th>
                  <th>Other Options</th>
                </tr>
                <tr class="tr-driver-list" *ngFor="let item of items; let index = index">
                    <td>   
                      <span [ngClass]="item.is_active ? 'active-dot' : 'inactive-dot'"></span>
                      {{ item.first_name }} {{ item.last_name }}
                    </td>
                    <!-- <td>{{ item.email }}</td> -->
                    <td>{{item.assigned_orders_count}}</td>
                    <td>0</td>
                    <td>--</td>
                    <td>--</td>
                    <td>
                      <button class="button-Pending status_button_style" [ngClass]="item.is_active ? 'active-status' : 'inactive-status'"> 
                        {{item.is_active ? "ACTIVE" : "INACTIVE"}}
                      </button>
                    </td>
                  <td (click)="stopNav($event)">
                    <div class="GetIocn drivers-other-options">
                      <a class="drivers-phone-container">
                        <img (click)="onClickPhone(index)" class="push-notification" src="../../../../assets/images/phone.jpg" />
                        <div *ngIf="(isShowContactDialog && index == phoneIndex)" class="drivers-list-phone-dialog">
                          <div class="confirmation-msg">
                            <div class="row mx-2">
                                <span class="contact-number">+91 9874359345 <i class="fa fa-copy px-2"  (click)="copyText('+91 9874359345')" aria-hidden="true"></i></span>
                            </div>
                          </div>
                        </div>
                      </a>
                      <img (click)="onClickPushNotification()" class="push-notification" src="../../../../assets/images/pushnotification.png.jpg" />
                      <input
                            class="head-driver mx-2"
                            type="checkbox"
                            [checked]="item.checked"
                            (change)="changeStatus(item.id , item.checked)"/>
                      <a routerLink="/admin/driver/details/{{item.id}}"><i style="font-size: 18px;" class="fa fa-eye" aria-hidden="true"></i></a>

                      <!-- <a (click)="driverDelete(item.id)">
                        <i class="fa fa-trash Delete"></i>
                        <i
                          class="fa fa-spinner fa-spin"
                          *ngIf="delloading && toggle[item.id]"
                        ></i>
                      </a> -->
                    </div>
                  </td>
                </tr>
              </table>
              <table
                *ngIf="items && items.length == 0"
                class="Order_Table"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr class="T_Head">
                  <th class="text-start px-4">Driver/#</th>
                  <th>Assigned Orders</th>
                  <th>Completed Deliveries</th>
                  <th>Last Delivery Time</th>
                  <th>Time Back Warehouse</th>
                  <th>Status</th>
                  <th>Other Options</th>
                </tr>
                <tr>No Results Found</tr>
                </table>
            </div>
            
            <div class="row mt-3">
              <div class="col-md-12 text-end">
                <button routerLink="/admin/driver/add" class="ButtonStyle">
                  Add Driver
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table View /////////// -->
    </div>
    <!-- Tab Content Area Start /////////// 01 -->
  </div>
</div>
<div *ngIf="isShowDeleteDriverDialog" (click)="onClickDeleteDriverDialog($event)" class="overlay"></div>
<div *ngIf="isShowContactDialog" (click)="onClickPhone($event)" class="overlay"></div>
<div *ngIf="isShowPushNotificationForm" (click)="onClickPushNotification()" class="push-notification-overlay"></div>