<div class="row mt-2 mb-2 cpdet" *ngIf="org">
  <div class="col-md-3">
    <div class="EditProfile">
      <div class="ChangePic0">
        <img *ngIf="!org.company.logo" src="assets/images/profilephoto.png" />
        <img *ngIf="org.company.logo" [src]="org.company.logo" />
      </div>
      <div class="HeadingName">
        <h2>
          {{ org.company.name }}
          <span class="SurName">{{ org.company.schema_name }}</span>
          <span class="__edit_Img">
            <img src="assets/images/edir-img.png" />
          </span>
        </h2>
        <ul class="AddressEdit">
          <li>
            {{ org.company.address ? org.company.address + "," : "" }}
            {{ org.company.city ? org.company.city + ", " : "" }}
            {{ org.company.state ? org.company.state + ", " : "" }}
            {{ org.company.country ? org.company.country : "" }}
          </li>
          <li>{{ admin.first_name }} {{ admin.last_name }}</li>
          <li>{{ org.company.phone }}</li>
          <li>{{ org.companyadmin_email }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9" style="padding-right: 0">
    <div class="Plane_date_time">
      <ul>
        <li>
          <img *ngIf="!org.plan.img" src="assets/images/sper-top-icon02.png" />
          <img *ngIf="org.plan.img" [src]="org.plan.img" />
          <span>{{ org.plan.title }}</span>
        </li>
        <li>
          <span
            >Purchase Date:
            {{ org.started_at | date : "mediumDate" }}
          </span>
        </li>
        <li>
          <span
            >Expiry Date:
            {{ org.expired_at | date : "mediumDate" }}
          </span>
        </li>
        <li>
          <span>
            {{ org.expired_at | dateDifference }}
            Left for renewal
          </span>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mt-4">
          <p>
            <strong>Message</strong> Lorem Ipsum is simply dummy text of the
            printing and typesetting industry
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h4>Package Purchase history</h4>
      </div>
      <div class="col-md-4 mt-2">
        <div class="Purchase_Text">
          <h4>Purchase Date & End Date</h4>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="Purchase_Text">
          <h4>Purchase Date & End Date</h4>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="Purchase_Text">
          <h4>Purchase Date & End Date</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ProfileFor">
        <div class="row">
          <div class="col-md-6 SendNotification">
            <div class="ChangePass mt-3">Send Notification</div>
            <span class="Password">
              <input
                type="text"
                name=""
                placeholder="Enter Message"
                class="Pro_input_Field"
              />
            </span>
            <button class="SaveButton ButtonStyle mt-4">Save Changes</button>
          </div>
          <div class="col-md-6 DeactivateClient">
            <div class="ChangePass mt-3">Deactivate Client</div>
            <span class="Password">
              <input
                type="text"
                placeholder="Reason for deactivating"
                class="Pro_input_Field"
                [(ngModel)]="cpreason"
                #cpreasonRef="ngModel"
                required
              />
              <div *ngIf="cpreasonData" class="text-danger">
                Reason field is required.
              </div>
            </span>
            <button
              class="SaveButton ButtonStyle mt-4"
              (click)="companyActivateDeactivate(org.company.id)"
            >
              Save Changes
              <i class="fa fa-spinner fa-spin" *ngIf="deactivateLoading"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 mb-2">
        <h4>
          Recente Notification
          <a href="" class="_ViewAll">View All</a>
        </h4>
      </div>
      <div class="col-md-12">
        <p>
          Message Lorem Ipsum is simply dummy text of the printing
          <span class="GreenDate">Wed Nov 12, 2022</span>
        </p>
      </div>
    </div>
  </div>
</div>
