<div class="ContentArea">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="HeadingName">
        <h2>My Profile</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="ProfilePik">
        <div class="ChangePic">
          <img src="assets/images/profilephoto.png" />
          <span class="Edit_Img">
            <img src="assets/images/edir-img.png" />
          </span>
        </div>
        <div class="ChangeImg">Change Profile Photo</div>
      </div>
    </div>
    <div class="col-md-9">
      <form class="ProfileFor">
        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              name=""
              placeholder="Firts Name"
              class="Pro_input_Field"
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name=""
              placeholder="Last Name"
              class="Pro_input_Field"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <input
              type="text"
              name=""
              placeholder="Mobile Number"
              class="Pro_input_Field"
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name=""
              placeholder="Email"
              class="Pro_input_Field"
            />
          </div>
        </div>
        <div class="ChangePass mt-3">Changge Password</div>
        <div class="row">
          <div class="col-md-6">
            <span class="Password">
              <i class="fa fa-eye __eye" aria-hidden="true"></i>
              <input
                type="password"
                name=""
                placeholder="Password"
                class="Pro_input_Field"
              />
            </span>
          </div>
          <div class="col-md-6">
            <span class="Password">
              <i class="fa fa-eye __eye green__eye" aria-hidden="true"></i>
              <input
                type="password"
                name=""
                placeholder="Confirm Password"
                class="Pro_input_Field"
              />
            </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <span>To change password enter OTP Sent to: ********</span>
          </div>
          <div class="col-md-6">
            <div class="Verify__Otp">
              <div class="Verify__Otp__Number OtpNumber">
                <input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
                <input type="text" name="" />
                <button class="Verify">Verify</button>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-5 Cancel_Save">
              <button class="CancelButton">Cancel</button>
              <button class="SaveButton ButtonStyle">Save Changes</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
